<div [class]="modal ? '' : 'row'">
	<div [class]="modal ? '' : 'col-6'">
		<form *ngIf="changePasswordForm$ | async as changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="attemptPasswordChange(changePasswordForm)">
			<ng-container *ngIf="modal; then modalHeader; else header"></ng-container>
			<div [class]="modal ? '' : 'row'">
				<div [class]="modal ? 'modal-body' : 'col-12'">
					<div class="form-group">
						<label for="name">User Name</label>
						<input id="name" formControlName="username" class="form-control" size="50" placeholder="Email address" autocomplete="off" required>
					</div>
					<div class="form-group">
						<ng-template #currentPasswordPopover>
							<div [innerHtml]="formErrors.currentPassword"></div>
						</ng-template>
						<label class="control-label" for="ppaCurrentPassword">Current Password</label>
						<div [class.has-error]="formErrors.currentPassword">
							<input type="password" class="d-none">
							<input id="ppaCurrentPassword" formControlName="currentPassword" class="form-control ppa-validate-indicator" type="password"
							       autocomplete="off"
							       [popover]="currentPasswordPopover" placement="top" triggers="manual"
							       [isOpen]="formErrors.currentPassword"
							       required>
						</div>
					</div>
					<div class="form-group">
						<ng-template #newPasswordPopover>
							<div [innerHtml]="formErrors.newPassword"></div>
						</ng-template>
						<label class="control-label" for="ppaPassword">New Password</label>
						<div [class.has-error]="formErrors.newPassword">
							<input id="ppaPassword" formControlName="newPassword" class="form-control ppa-validate-indicator" type="password"
							       name="new_password"
							       [popover]="newPasswordPopover" placement="top" triggers="manual"
							       [isOpen]="formErrors.newPassword"
							       required>
						</div>
					</div>
					<div class="form-group">
						<ng-template #confirmPasswordPopover>
							<div *ngIf="formErrors.newPasswordConfirmation && !changePasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword"
							     [innerHtml]="formErrors.newPasswordConfirmation"></div>
							<div *ngIf="changePasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword" [innerHtml]="'Passwords do not match'"></div>
						</ng-template>
						<label class="control-label" for="ppaPasswordConfirmation">Confirm Password</label>
						<div [class.has-error]="formErrors.newPasswordConfirmation">
							<input id="ppaPasswordConfirmation" formControlName="newPasswordConfirmation" class="form-control ppa-validate-indicator"
							       type="password"
							       name="new_password_confirmation"
							       [popover]="confirmPasswordPopover" placement="top" triggers="manual"
							       [isOpen]="formErrors.newPasswordConfirmation || changePasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword"
							       required>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="errorMessage" class="text-danger text-center pb-3"><span [innerHTML]="errorMessage"></span></div>
			<div [class]="modal ? '' : 'row'">
				<div [class]="modal ? 'modal-footer' : 'col-12'">
					<ppa-loading-container [loading]="loading$ | async">
						<div [class]="modal ? 'text-center' : 'pull-right'">
							<button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.pristine">Save</button>
						</div>
					</ppa-loading-container>
				</div>
			</div>
		</form>
	</div>
</div>

<ng-template #modalHeader>
	<div class="modal-header">
		<h2 class="modal-title">Password Change Is Required</h2>
	</div>
	<div class="m-3">
		<ng-container [ngTemplateOutlet]="passwordRules"></ng-container>
		<div>
			Contact
			<span *ppaContext="let els; using: {$implicit: {emailAddressEls: emailAddressEls$ | async, portalName: portalNameEl$ | async, currentUser: currentUser$ | async}}"
			      [innerHTML]="generateEmailLinkHtml(els.portalName.value, els.emailAddressEls, els.currentUser)"></span>
			if you do not remember your current password which is required to process the password change.
		</div>
	</div>
</ng-template>
<ng-template #header>
	<h1>Change Password</h1>
	<ng-container [ngTemplateOutlet]="passwordRules"></ng-container>
</ng-template>

<ng-template #passwordRules>
	<div class="font-sm">
		<ul>
			<li>Passwords must be at least 8 characters long (not longer than 30)</li>
			<li>Passwords cannot contain all or part of the user name</li>
			<li>Contains elements from three of the following four categories:
				<ul>
					<li>English uppercase characters (A through Z)</li>
					<li>English lowercase characters (a through z)</li>
					<li>Numeric characters (0 through 9)</li>
					<li>Non-alphanumeric (for example, !, $, #, %)</li>
				</ul>
			</li>
			<li>Passwords cannot contain sequential numeric or alpha characters (i.e. abc, 123, qwerty)</li>
			<li>Passwords cannot contain the same character in succession more than 3 times (i.e. 1111)</li>
		</ul>
	</div>
</ng-template>
