<div class="container">
	<nav class="ppa-navbar-primary navbar navbar-toggleable-md navbar-light">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand ppa-brand ppa-flex-center m-0" routerLink="/">
			<img class="mb-1" src="assets/images/parametric-logo.png" alt="Parametric Portfolio Associates"/>
			<!-- Padding workaround for IE 11 flex bug where margins get collapsed -->
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
		</a>

		<div *ngIf="loggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav justify-content-start">
				<li *ngIf="hasAccessGroup('Documentation')" class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/main/documentation">Documentation</a>
				</li>
				<li *ngIf="hasAccessGroup('Reporting')" class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/main/reporting">Reporting</a>
				</li>
				<li *ngIf="hasAccessGroup('Invoices')" class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/main/invoices">Invoices</a>
				</li>
				<li *ngIf="hasAccessGroup('Strategy Overview')" class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/main/strategy-overview">Strategy Overview</a>
				</li>
				<li *ngIf="hasAccessGroup('Contact Us')" class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/main/contact">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
