<div class="row">
	<div class="col-6">
		<h1>My Profile</h1>
		<ppa-loading-container [loading]="loading$ | async">
			<form *ngIf="userProfileForm$ | async as userProfileForm" [formGroup]="userProfileForm" (ngSubmit)="saveContactInformation(userProfileForm)">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="profileEmail">Email</label>
							<div class="input-group input-group-unstyled" [class.has-error]="formErrors.emailAddress">
								<ng-template #emailAddressPopover>
									<div [innerHtml]="formErrors.emailAddress"></div>
								</ng-template>
								<input id="profileEmail" formControlName="emailAddress" type="email" class="form-control" [maxLength]="50"
								       placeholder="Email address"
								       [popover]="emailAddressPopover" placement="top" triggers="manual" [isOpen]="formErrors.emailAddress" required>
								<div class="input-group-addon">
									<ng-container *ppaContext="let emailAddressEls; using: {$implicit: emailAddressEls$ | async}">
										<a href="#" (click)="onEditEmail(emailAddressEls); false">
											<i class="fa fa-pencil-square-o fa-lg text-brown" title="Request to change email"></i>
										</a>
									</ng-container>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="profileFirstName">First Name</label>
							<div [class.has-error]="formErrors.firstName">
								<ng-template #firstNamePopover>
									<div [innerHtml]="formErrors.firstName"></div>
								</ng-template>
								<input id="profileFirstName" formControlName="firstName" class="form-control" [maxLength]="50" placeholder="First name"
								       [popover]="firstNamePopover" placement="top" triggers="manual" [isOpen]="formErrors.firstName" required>
							</div>

						</div>
						<div class="form-group">
							<label for="profileLastName">Last Name</label>
							<div [class.has-error]="formErrors.lastName">
								<ng-template #lastNamePopover>
									<div [innerHtml]="formErrors.lastName"></div>
								</ng-template>
								<input id="profileLastName" formControlName="lastName" class="form-control" [maxLength]="50" placeholder="Last name"
								       [popover]="lastNamePopover" placement="top" triggers="manual" [isOpen]="formErrors.lastName" required>
							</div>
						</div>
						<div class="form-group">
							<label for="profileTitle">Title</label>
							<div [class.has-error]="formErrors.title">
								<ng-template #titlePopover>
									<div [innerHtml]="formErrors.title"></div>
								</ng-template>
								<input id="profileTitle" formControlName="title" class="form-control" [maxLength]="100" placeholder="Title"
								       [popover]="titlePopover" placement="top" triggers="manual" [isOpen]="formErrors.title" required>
							</div>
						</div>
						<div class="form-group">
							<label for="profileCompany">Company</label>
							<div [class.has-error]="formErrors.companyName">
								<ng-template #companyNamePopover>
									<div [innerHtml]="formErrors.companyName"></div>
								</ng-template>
								<input id="profileCompany" formControlName="companyName" class="form-control" [maxLength]="100" placeholder="Company"
								       [popover]="companyNamePopover" placement="top" triggers="manual" [isOpen]="formErrors.companyName" required>
							</div>
						</div>
						<div class="form-group">
							<label for="profilePhoneNumber">Phone Number</label>
							<div [class.has-error]="formErrors.phoneNumber">
								<ng-template #phoneNumberPopover>
									<div [innerHtml]="formErrors.phoneNumber"></div>
								</ng-template>
								<input id="profilePhoneNumber" formControlName="phoneNumber" type="tel" class="form-control" [maxLength]="50"
								       placeholder="(555) 555-5555"
								       [popover]="phoneNumberPopover" placement="top" triggers="manual" [isOpen]="formErrors.phoneNumber" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary"
							        [disabled]="userProfileForm.pristine || userProfileForm.untouched || !userProfileForm.valid">Save
							</button>
							<button type="button" class="btn btn-secondary" (click)="resetContactInformation(userProfileForm)"
							        [disabled]="userProfileForm.pristine">Reset
							</button>
						</div>
					</div>
				</div>
			</form>
		</ppa-loading-container>
	</div>
</div>
