<!-- Use a context here to *always* a subscription to the requester, regardless of the result of the *ngIf structural directive below -->
<ng-container *ppaContext="let entityData = entityData; using: {entityData: filterApiEntityDataRequester.response$ | async}">
	<div *ngIf="filterEnabled$ | async" [@enterAnimation] class="container">
		<ppa-loading-container [loading]="!entityData" [renderHidden]="true" [animationType]="'fade'">
			<ppa-filter-toolbar-inner
					[filterMode]="filterMode$ | async"
					[filterConfig]="filterConfig$ | async"
					[filterGroup]="filterGroup$ | async"
					[filterSelectedData]="filterSelectedData$ | async"
					[filterApiEntityData]="entityData"
					(filterModeChange)="filterModeChange($event)"
					(filterValueChange)="filterValueChange($event)"
					(selectedValueChange)="selectedValueChange($event)">
			</ppa-filter-toolbar-inner>
		</ppa-loading-container>
	</div>
</ng-container>
