<form>
	<div class="d-md-flex flex-row">
		<div class="d-flex-grow">
			<div class="row">
				<ng-container *ngTemplateOutlet="filters"></ng-container>
			</div>
			<!-- Wrap in switch case to allow animations -->
			<ng-container [ngSwitch]="filterMode">
				<div class="row" *ngSwitchCase="'summary'" [@enterAnimation]>
					<ng-container *ngTemplateOutlet="filters; context: {$implicit: filterMode}"></ng-container>
				</div>
				<div class="row" *ngSwitchCase="'detail'" [@enterAnimation]>
					<ng-container *ngTemplateOutlet="filters; context: {$implicit: filterMode}"></ng-container>
				</div>
			</ng-container>
		</div>

		<!-- Search Type Controls -->
		<div class="ml-4 d-md-block text-right" [ngClass]="{invisible: !filterConfig.modeControlEnabled, 'd-none': !filterConfig.modeControlEnabled}">
			<div class="d-none d-md-block"><label>&nbsp;</label></div>
			<div class="btn-group" role="group" aria-label="Search Type">
				<button type="button" class="btn btn-secondary" [class.active]="filterMode === FilterMode.SUMMARY"
				        (click)="filterModeChange.emit(FilterMode.SUMMARY)">
					Summary
				</button>
				<button type="button" class="btn btn-secondary" [class.active]="filterMode === FilterMode.DETAIL"
				        (click)="filterModeChange.emit(FilterMode.DETAIL)">
					Detail
				</button>
			</div>
		</div>
	</div>
</form>

<!-- Templates -->
<ng-template #filters let-filterMode>
	<!-- Entity Filters -->
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('group', filterMode)" [hidden]="activeFilterIsEmpty('group')" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="comboFilter; context: {filterKey: 'group', defaultLabel: 'Organization Group'}"></ng-container>
	</div>
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('relationship', filterMode)" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="comboFilter; context: {filterKey: 'relationship', defaultLabel: 'Organization'}"></ng-container>
	</div>
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('entity', filterMode)" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="comboFilter; context: {filterKey: 'entity', defaultLabel: 'Investing Entity'}"></ng-container>
	</div>
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('account', filterMode)" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="comboFilter; context: {filterKey: 'account', defaultLabel: 'Investment Account'}"></ng-container>
	</div>

	<!-- Category filters -->
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('category', filterMode)" [@fadeInAnimation]>
		<ppa-loading-container [loading]="documentTypeRequester.loading$ | async" [renderHidden]="true" [animationType]="'fade'">
			<ng-container *ngTemplateOutlet="comboFilter;
							context: {filterKey: 'category', defaultLabel: 'Document Type', valueLabel: getCategoryLabel, titleField: getCategoryDescription}"></ng-container>
		</ppa-loading-container>
	</div>

	<!-- Date filters -->
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('startDate', filterMode)" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="dateFilter; context: {filterKey: 'startDate', defaultLabel: 'Start Date'}"></ng-container>
	</div>
	<div class="col-md col-md-3-min col-md-4-max" *ngIf="isFilterInMode('endDate', filterMode)" [@fadeInAnimation]>
		<ng-container *ngTemplateOutlet="dateFilter; context: {filterKey: 'endDate', defaultLabel: 'End Date'}"></ng-container>
	</div>
</ng-template>

<ng-template #comboFilter let-filterKey="filterKey" let-defaultLabel="defaultLabel" let-valueLabel="valueLabel" let-titleField="titleField">
	<ppa-filter-combo-2 [label]="getFilterConfig(filterKey)?.label || defaultLabel"
	                    [filterState]="getFilterState(filterKey)"
	                    [valueLabel]="valueLabel || 'label'"
	                    [titleField]="titleField"
	                    [ngClass1]="getFilterClass(filterKey)"
	                    (valueChange)="onSelectedValueChange(filterKey, $event)">
	</ppa-filter-combo-2>
</ng-template>

<ng-template #dateFilter let-filterKey="filterKey" let-defaultLabel="defaultLabel">
	<ppa-filter-date *ppaContext="let filterState = filterState; using: {filterState: getFilterState(filterKey)}"
	                 [enabled]="filterState.enabled"
	                 [label]="getFilterConfig(filterKey)?.label || defaultLabel" [labelStyle]="{'font-weight': 'bold'}"
	                 [minDate]="filterState.minDate" [maxDate]="filterState.maxDate"
	                 [ngModel]="filterState.selectedValue" (ngModelChange)="onSelectedValueChange(filterKey, $event)">
	</ppa-filter-date>
</ng-template>


<div class="col-lg ppa-flex text-gray-medium small">
	<div class="col-md-3-max" *ngFor="let crumb of breadcrumb" [innerHTML]="getBreadCrumbHtml(crumb)"></div>
</div>