<div class="modal-header">
	<h2 class="modal-title">{{title}}</h2>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<i aria-hidden="true" class="fa fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<ng-container *ngComponentOutlet="dynamicComponent"></ng-container>
	<ng-container *ngIf="getDisplayStyle() !== 'plain'; then formatedMessage"></ng-container>
</div>
<div class="modal-footer">
	<ng-container *ngIf="getDisplayStyle() === 'confirmation'; then confirmationFooter; else plainFooter"></ng-container>
</div>
<ng-template #plainFooter>
	<button type="button" class="btn btn-secondary" (click)="activeModal.close('OK')">OK</button>
</ng-template>
<ng-template #confirmationFooter>
	<button type="button" class="btn btn-secondary" (click)="activeModal.close('yes')">Yes</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.close('no')">No</button>
</ng-template>


<ng-template #formatedMessage>
	<table>
		<tr>
			<td>
				<ng-container [ngSwitch]="getDisplayStyle()">
					<i *ngSwitchCase="'error'" class="fa fa-times-circle fa-2x text-danger" aria-hidden="true"></i>
					<i *ngSwitchCase="'warning'" class="fa fa-exclamation-triangle fa-2x text-warning" aria-hidden="true"></i>
					<i *ngSwitchCase="'info'" class="fa fa-info-circle fa-2x text-primary" aria-hidden="true"></i>
					<i *ngSwitchCase="'confirmation'" class="fa fa-question-circle fa-2x text-primary" aria-hidden="true"></i>
				</ng-container>
			</td>
			<td class="align-middle pl-3"><span [innerHTML]="message"></span></td>
		</tr>
	</table>
</ng-template>
