.app-header { FONT-SIZE: 8pt; COLOR: #000000; FONT-WEIGHT: normal; }

.flash-element { background-color: #ffffaa; }

.background-fade { transition: background-color 0.75s; }

.vertical-align-top { vertical-align: top; }

ul.c-list { LIST-STYLE-TYPE: disc; LIST-STYLE-POSITION: outside; MARGIN: 0px 0px 0px 20px; }

input[readonly] { background: #f0f0f0 !important; cursor: default; }

textarea[readonly] { background: #f0f0f0 !important; cursor: default; }

input[disabled] { color: black !important; cursor: default; }

textarea[disabled] { color: black !important; cursor: default; }

.x-treegrid-header-inner .x-grid3-header-offset table {
	table-layout: fixed;
}

.x-form-link-field { padding-top: 3px }

.x-form-link-field:hover { text-decoration: underline; cursor: pointer }

.x-selectable, .x-selectable * {
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-webkit-user-select: text !important;
}

.x-form-list-link-field { padding-top: 3px; vertical-align: middle; }

.x-form-list-link-field:hover { text-decoration: underline; cursor: pointer }

.x-form-list-display-field { padding-top: 3px; vertical-align: middle; }

.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
	margin-top: 2px;
}

.x-icon-combo-icon { background-repeat: no-repeat; background-position: 0 50%; width: 20px; height: 16px; }

.notification-table { BORDER-BOTTOM: #d0d0d0 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; PADDING-LEFT: 6px; WIDTH: 100%; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; FONT-FAMILY: arial; FONT-SIZE: 11px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 5px; }

.notification-table-header { BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #eeeeee 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #ededed; PADDING-LEFT: 6px; PADDING-RIGHT: 4px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 5px }

/* definition for displaying text with nowrap and ellipsis */
.nowrap-with-ellipsis {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

/* Apply overflow styles within grid <pre> tags */
.x-grid3-cell-inner pre {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.x-grid3-hd-inner {
	white-space: normal;
}

.x-grid3-hd-row td.ux-filtered-column {
	font-style: italic;
	font-weight: bold;
	color: red;
}

.x-grid3-summary-row-total {
	border-top: 1px solid #606060;
	font-weight: bold;
}

.x-grid3-summary-row {
	border-top: 1px solid #909090;
}

.x-grid3-row-highlight-light-red {
	background-color: #ffe1e1;
}

.x-grid3-row-highlight-light-orange {
	background-color: #ffe5cc;
}

.x-grid3-row-highlight-light-yellow {
	background-color: #ffffe1;
}

.x-grid3-row-highlight-light-gray {
	background-color: #d0d0d0;
}

.x-grid3-row-highlight-light-green {
	background-color: #e1ffe1;
}

.x-grid3-child-row {
	color: #777777;
}

.sectionHeader {
	display: block;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

.sectionHeader > span {
	position: relative;
	display: inline-block;
	font: bold 11px tahoma, arial, helvetica, sans-serif;
}

.sectionHeader > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	background: #b5b8c8;
	margin-left: 10px;
}

.x-panel-mc {
	border: 0 none;
	padding: 0;
	margin: 0;
}

/* Fix spinner CSS precedence for non-default themes (spinner background is overridden by .x-form-trigger background) */
.x-form-field-wrap .x-form-trigger.x-form-spinner-trigger {
	/* TODO: WebJars ExtJS uses a different URL; this should be adjusted once apps have been normalized to the WebJars distribution */
	/*noinspection CssUnknownTarget*/
	background: transparent url(../../webjars/extjs/3.3.0-clifton/ux/images/spinner.gif) no-repeat 0 0;
}

/* Grid styles */
.x-grid3-body .x-grid3-row-alt-darker { background-color: #f6f6f6; }

.x-grid3-body .x-grid3-group-hover { background-color: #e8e8e8; border-color: #e8e8e8; }

.x-grid3-body .x-grid3-row-no-border { border-color: transparent; }

/* Element styles */
.action-column { cursor: pointer }

.warning-msg { color: #cc0000; border: #cc0000 1px solid; background-color: #ffffff; padding: 4px; margin-bottom: 5px }

.info-msg { color: #000000; border: #000000 1px solid; background-color: #ffffff; padding: 4px; margin-bottom: 5px }

.drag-drop-msg { color: #606060; border: #c0c0c0 3px dashed; background-color: #ffffff; padding: 6px; margin-bottom: 8px; text-align: center; vertical-align: middle; }

.buy { color: #3366ff !important; border: #3366ff 1px solid; background-color: #ffffff; padding: 1px; font-weight: bold; text-align: center }

.sell { color: #cc0000 !important; border: #cc0000 1px solid; background-color: #ffffff; padding: 1px; font-weight: bold; text-align: center }

.success { color: #339933 !important; border: #339933 1px solid; background-color: #ffffff; padding: 1px; font-weight: bold; text-align: center }

.fail { color: #cc0000 !important; border: #cc0000 1px solid; background-color: #ffffff; padding: 1px; font-weight: bold; text-align: center }

.buy-dark { color: #ffffff !important; background-color: #3366ff !important; font-weight: bold !important; text-align: center }

.sell-dark { color: #ffffff !important; background-color: #cc0000 !important; font-weight: bold !important; text-align: center }

.buy-light { color: #3366ff !important; font-weight: bold !important }

.sell-light { color: #cc0000 !important; font-weight: bold !important }

.amountNegative { color: #cc0000 !important }

.amountPositive { color: #088a08 !important }

.amountAdjusted { color: #0033cc !important }

.important { font-weight: bold !important }

.minRuleViolation { background-color: #ddffdd !important; color: #cc0000 !important }

.minRuleViolationBig { background-color: #aaddaa !important; color: #cc0000 !important; font-weight: bold !important; }

.ruleViolation { background-color: yellow !important; color: #cc0000 !important; font-weight: bold !important; }

.ruleViolationBig { background-color: #cc0000 !important; color: yellow !important; font-weight: bold !important; }

.frozen { background-color: #b3d1ff; }

.inline-icon { display: inline-block; width: 16px; position: relative; white-space: nowrap; }

.account { background-image: url(../../core/images/icons/account.png) !important; }

.accounts { background-image: url(../../core/images/icons/accounts.png) !important; }

.add { background-image: url(../../core/images/icons/add.gif) !important; }

.application { background-image: url(../../core/images/icons/application.png) !important; }

.archive { background-image: url(../../core/images/icons/archive.png) !important; }

.arrow-right-red { background-image: url(../../core/images/icons/arrow-right-red.png) !important; background-repeat: no-repeat}

.arrow-left-red { background-image: url(../../core/images/icons/arrow-left-red.png) !important; background-repeat: no-repeat }

.arrow-right-green { background-image: url(../../core/images/icons/arrow-right-green.png) !important; background-repeat: no-repeat }

.arrow-left-green { background-image: url(../../core/images/icons/arrow-left-green.png) !important; background-repeat: no-repeat}

.arrow-down-green { background-image: url(../../core/images/icons/arrow-down-green.png) !important; background-repeat: no-repeat}

.arrow-down-red { background-image: url(../../core/images/icons/arrow-down-red.png) !important; background-repeat: no-repeat}

.arrow-down-red-narrow { background-image: url(../../core/images/icons/arrow-down-red-narrow.gif) !important; background-repeat: no-repeat }

.arrow-up-green { background-image: url(../../core/images/icons/arrow-up-green.png) !important; background-repeat: no-repeat}

.arrow-up-green-narrow { background-image: url(../../core/images/icons/arrow-up-green-narrow.gif) !important; background-repeat: no-repeat }

.attach { background-image: url(../../core/images/icons/attach.png) !important; }

.bank { background-image: url(../../core/images/icons/bank.png) !important; }

.billing { background-image: url(../../core/images/icons/billing.png) !important; }

.bloomberg { background-image: url(../../core/images/icons/bloomberg.gif) !important; }

.blotter { background-image: url(../../core/images/icons/blotter.png) !important; }

.bonds { background-image: url(../../core/images/icons/bonds.png) !important; }

.book { background-image: url(../../core/images/icons/book.png) !important; }

.book-open { background-image: url(../../core/images/icons/book-open.png) !important; }

.book-open-blue { background-image: url(../../core/images/icons/book-open-blue.png) !important; }

.book-red { background-image: url(../../core/images/icons/book-red.png) !important; }

.bubble { background-image: url(../../core/images/icons/bubble.png) !important; }

.business { background-image: url(../../core/images/icons/business.png) !important; }

.calculator { background-image: url(../../core/images/icons/calculator.png) !important; }

.calendar { background-image: url(../../core/images/icons/calendar.gif) !important; }

.call { background-image: url(../../core/images/icons/call.png) !important; }

.cancel { background-image: url(../../core/images/icons/cancel.png) !important; }

.cash { background-image: url(../../core/images/icons/cash.png) !important; }

.categories { background-image: url(../../core/images/icons/categories.png) !important; }

.chart-bar { background-image: url(../../core/images/icons/chart_bar.png) !important; }

.chart-pie { background-image: url(../../core/images/icons/chart_pie.png) !important; }

.checked { background-image: url(../../core/images/icons/checked.png) !important; }

.clear { background-image: url(../../core/images/icons/clear.png) !important; }

.client { background-image: url(../../core/images/icons/client.png) !important; }

.clock { background-image: url(../../core/images/icons/clock.png) !important; }

.coins { background-image: url(../../core/images/icons/coins.png) !important; }

.collapse-all { background-image: url(../../core/images/icons/collapse-all.png) !important; }

.colors { background-image: url(../../core/images/icons/colors.png) !important; }

.company-logo { background-image: url(../../core/images/favicon.ico) !important; }

.comparison-contains { background-image: url(../../core/images/icons/report.png) !important; }

.comparison-not-contains { background-image: url(../../core/images/icons/rule.png) !important; }

.comparison-equals { background-image: url(../../core/images/icons/equals.png) !important; }

.comparison-not-equals { background-image: url(../../core/images/icons/not_equals.png) !important; }

.comparison-greater-than { background-image: url(../../core/images/icons/greater_than.png) !important; }

.comparison-less-than { background-image: url(../../core/images/icons/less_than.png) !important; }

.comparison-in { background-image: url(../../core/images/icons/list.png) !important; }

.config { background-image: url(../../core/images/icons/config.png) !important; }

.contract { background-image: url(../../core/images/icons/contract.png) !important; }

.copy { background-image: url(../../core/images/icons/copy.png) !important; }

.cross { background-image: url(../../core/images/icons/cross.gif) !important; }

.csv { background-image: url(../../core/images/icons/csv.gif) !important; }

.currency { background-image: url(../../core/images/icons/currency.png) !important; }

.currency-forward { background-image: url(../../core/images/icons/currency-forward.png) !important; }

.database { background-image: url(../../core/images/icons/database.png) !important; }

.diff { background-image: url(../../core/images/icons/diff.png) !important; }

.disk { background-image: url(../../core/images/icons/disk.png) !important; }

.doctor { background-image: url(../../core/images/icons/doctor.png) !important; }

.dollar { background-image: url(../../core/images/icons/dollar.png) !important; }

.ends-with { background-image: url(../../core/images/icons/ends-with.png) !important; }

.email { background-image: url(../../core/images/icons/email.png) !important; }

.event { background-image: url(../../core/images/icons/event.png) !important; }

.exchange { background-image: url(../../core/images/icons/exchange.png) !important; }

.excel { background-image: url(../../core/images/icons/excel.png) !important; }

.excel_open_xml { background-image: url(../../core/images/icons/excel_open_xml.png) !important; }

.expand-all { background-image: url(../../core/images/icons/expand-all.png) !important; }

.export { background-image: url(../../core/images/icons/export.png) !important; }

.explorer { background-image: url(../../core/images/icons/explorer.png) !important; }

.f3 { background-image: url(../../core/images/icons/f3.png) !important; }

.fax { background-image: url(../../core/images/icons/fax.png) !important; }

.fee { background-image: url(../../core/images/icons/fee.png) !important; }

.find { background-image: url(../../core/images/icons/find.png) !important; }

.hammer { background-image: url(../../core/images/icons/hammer.png) !important; }

.filter { background-image: url(../../core/images/icons/filter.png) !important; }

.flag-red { background-image: url(../../core/images/icons/flag_red.png) !important; }

.flag-blue { background-image: url(../../core/images/icons/flag_blue.png) !important; }

.folder-open { background-image: url(../../core/images/icons/folder_open.png) !important; }

.futures { background-image: url(../../core/images/icons/futures.png) !important; }

.graylog { background-image: url(../../core/images/icons/graylog.png) !important; }

.grid { background-image: url(../../core/images/icons/grid.png) !important; }

.group { background-image: url(../../core/images/icons/user_group.png) !important; }

.grouping { background-image: url(../../core/images/icons/grouping.gif) !important; }

.handshake { background-image: url(../../core/images/icons/handshake.png) !important; }

.help { background-image: url(../../core/images/icons/help.png) !important; }

.hierarchy { background-image: url(../../core/images/icons/hierarchy.png) !important; }

.house { background-image: url(../../core/images/icons/house.png) !important; }

.image { background-image: url(../../core/images/icons/image.png) !important; }

.import { background-image: url(../../core/images/icons/import.png) !important; }

.income { background-image: url(../../core/images/icons/income.png) !important; }

.info { background-image: url(../../core/images/icons/info.png) !important; }

.invalid { background: url(../../core/images/icons/cross.gif) no-repeat !important; }

.ignored { background-image: url(../../core/images/icons/ignored.png) !important; }

.is-null { background-image: url(../../core/images/icons/unchecked.png) !important; }

.job { background-image: url(../../core/images/icons/job.png) !important; }

.kangaroo { background-image: url(../../core/images/icons/kangaroo.png) !important; }

.key { background-image: url(../../core/images/icons/key.png) !important; }

.link { background-image: url(../../core/images/icons/link.png) !important; }

.link-undo { background-image: url(../../core/images/icons/link_undo.png) !important; }

.list { background-image: url(../../core/images/icons/list.png) !important; }

.loading { background: url(../../core/images/icons/loading.gif) no-repeat !important; }

.lock { background-image: url(../../core/images/icons/lock.png) !important; }

.lock-delete { background-image: url(../../core/images/icons/lock-delete.png) !important; }

.manager { background-image: url(../../core/images/icons/manager.png) !important; }

.money { background-image: url(../../core/images/icons/money.png) !important; }

.move { background-image: url(../../core/images/icons/move.png) !important; }

.music { background-image: url(../../core/images/icons/music.png) !important; }

.numbers { background-image: url(../../core/images/icons/numbers.png) !important; }

.objects { background-image: url(../../core/images/icons/objects.png) !important; }

.option { background-image: url(../../core/images/icons/plugin.gif) !important; }

.options { background-image: url(../../core/images/icons/options.png) !important; }

.parametric { background-image: url(../../core/images/icons/parametric.png) !important; }

.pdf { background-image: url(../../core/images/icons/pdf.png) !important; }

.pencil { background-image: url(../../core/images/icons/pencil.png) !important; }

.people { background-image: url(../../core/images/icons/people.png) !important; }

.powerpoint { background-image: url(../../core/images/icons/powerpoint.png) !important; }

.preview { background-image: url(../../core/images/icons/preview.png) !important; }

.printer { background-image: url(../../core/images/icons/printer.png) !important; }

.priority { background-image: url(../../core/images/icons/priority.png) !important; }

.question { background-image: url(../../core/images/icons/question.png) !important; }

.reconcile { background-image: url(../../core/images/icons/reconcile.png) !important; }

.recurrence { background-image: url(../../core/images/icons/recurrence.gif) !important; }

.remove { background-image: url(../../core/images/icons/delete.gif) !important; }

.replicate { background-image: url(../../core/images/icons/replicate.png) !important; }

.repo { background-image: url(../../core/images/icons/repo.png) !important; }

.report { background-image: url(../../core/images/icons/report.png) !important; }

.rule { background-image: url(../../core/images/icons/rule.png) !important; }

.run { background-image: url(../../core/images/icons/run.png) !important; }

.sales-commission { background-image: url(../../core/images/icons/sales-commission.png) !important; }

.schedule { background-image: url(../../core/images/icons/schedule.png) !important; }

.services { background-image: url(../../core/images/icons/services.png) !important; }

.shopping-cart { background-image: url(../../core/images/icons/shopping-cart.png) !important; }

.shopping-cart-blue { background-image: url(../../core/images/icons/shopping-cart-blue.png) !important; }

.snooze { background-image: url(../../core/images/icons/snooze.png) !important; }

.spacer { background-image: url(../../core/images/s.gif) !important; }

.starts-with { background-image: url(../../core/images/icons/starts-with.png) !important; }

.stock-chart { background-image: url(../../core/images/icons/stock-chart.png) !important; }

.stop { background-image: url(../../core/images/icons/stop.png) !important; }

.swap { background-image: url(../../core/images/icons/swap.png) !important; }

.swift { background-image: url(../../core/images/icons/swift.png) !important; }

.table-refresh { background-image: url(../../core/images/icons/table_refresh.png) !important; }

.task { background-image: url(../../core/images/icons/task.png) !important; }

.thumb-down { background-image: url(../../core/images/icons/thumb-down.png) !important; }

.timer { background-image: url(../../core/images/icons/timer.png) !important; }

.tools { background-image: url(../../core/images/icons/tools.png) !important; }

.transfer { background-image: url(../../core/images/icons/transfer.png) !important; }

.transformation { background-image: url(../../core/images/icons/transformation.png) !important; }

.undo { background-image: url(../../core/images/icons/undo.png) !important; }

.unchecked { background-image: url(../../core/images/icons/unchecked.png) !important; }

.unignorable { color: #cc0000 !important }

.unlock { background-image: url(../../core/images/icons/unlock.png) !important; }

.unsnooze { background-image: url(../../core/images/icons/unsnooze.png) !important; }

.upload { background-image: url(../../core/images/icons/upload.png) !important; }

.user { background-image: url(../../core/images/icons/user.png) !important; }

.verify { background-image: url(../../core/images/icons/verify.png) !important; }

.video { background-image: url(../../core/images/icons/video.png) !important; }

.view { background-image: url(../../core/images/icons/view.png) !important; }

.views { background-image: url(../../core/images/icons/views.png) !important; }

.violationMessage { display: block !important; padding-left: 20px !important; }

.warning { background-image: url(../../core/images/icons/warning.png) !important; }

.warning-red { background-image: url(../../core/images/icons/warning-red.png) !important; }

.window { background-image: url(../../core/images/icons/window.png) !important; }

.word { background-image: url(../../core/images/icons/word.png) !important; }

.workflow { background-image: url(../../core/images/icons/workflow.png) !important; }

.www { background-image: url(../../core/images/icons/www.png) !important; }

.row_checked { background-image: url(../../core/images/icons/accept.png) !important; }

.row_reconciled { background-image: url(../../core/images/icons/accept.png) !important; }

.wand-plus { background-image: url(../../core/images/icons/wand-plus.png) !important; }

.xml { background-image: url(../../core/images/icons/xml.png) !important; }

.zip { background-image: url(../../core/images/icons/zip.png) !important; }
