<!-- Header -->
<div>
	<h1 [ngSwitch]="currentState$ | async">
		User Management
		<span *ngSwitchCase="STATE.ADD"> - Add User</span>
		<span *ngSwitchCase="STATE.CREATE"> - Add User</span>
		<span *ngSwitchCase="STATE.EDIT"> - Edit User Permissions</span>
		<span *ngSwitchCase="STATE.DELETE"> - Remove User Assignment</span>
	</h1>
</div>
<ng-container *ngIf="filterEntity$ | async; then userManagementPrimary; else userManagementSelectEntity"></ng-container>

<!-- Templates -->

<!-- Primary screens -->
<ng-template #userManagementPrimary>
	<div [ngSwitch]="currentState$ | async">
		<!-- User table -->
		<ng-container *ngSwitchCase="STATE.NONE">
			<div *ppaContext="let pageTitle; using: {$implicit: (pageTitleEl$ | async).value}">
				As a portal administrator, you have been granted access to view all individuals or groups that have access to the {{pageTitle}}. You may add/remove users
				and/or edit their access on this screen. Whenever a change in personnel or access is required, we are asking all individuals to reach out to their portal
				administrator(s) to implement those changes, as portal administrators are the only individuals that have the ability to make any change.
			</div>
			<h3 class="my-3">
				<label>User Assignments for {{(filterEntity$ | async)!.label}}</label>
			</h3>
			<div class="row my-1">
				<div class="col-md-4 col-sm-6 col-12">
					<div class="form-inline flex-nowrap">
						<label for="userManagementSearch">Search:</label>
						<input id="userManagementSearch" class="form-control ml-2 d-flex-grow" placeholder="First or last name, email, role, or assignment"
						       [ngModel]="searchPattern" (ngModelChange)="searchPattern = $event; searchPatternSource.next($event)"
						       [maxLength]="50">
					</div>
				</div>
				<div class="col-sm"></div>
				<div class="col-sm-auto col text-right">
					<button type="button" class="btn btn-primary" (click)="beginAddUser()">Add User</button>
				</div>
			</div>
			<ppa-loading-container *ppaContext="let userAssignmentList; using: {$implicit: userAssignmentRequester.response$ | async}"
			                       [loading]="userAssignmentRequester.loading$ | async">
				<ppa-user-list
						[orderBy]="userAssignmentSortSource | async"
						[valueList]="userAssignmentList"
						(deleteAction)="selectedAssignment = $event; currentState$.next(STATE.DELETE)"
						(editAction)="selectedAssignment = $event; currentState$.next(STATE.EDIT)"
						(sortAction)="userAssignmentSortSource.next($event)">
				</ppa-user-list>
			</ppa-loading-container>
		</ng-container>

		<!-- Add user -->
		<ppa-add-user-form
				*ngSwitchCase="STATE.ADD"
				[filterEntity]="filterEntity$ | async"
				(submitAction)="checkExistingUser($event)"
				(cancelAction)="resetState()">
		</ppa-add-user-form>

		<!-- Create user -->
		<div *ngSwitchCase="STATE.CREATE">
			<ng-container *ngTemplateOutlet="userDetail; context: {newUser: true, newUsername: addingUsername}"></ng-container>
		</div>

		<!-- Edit user -->
		<div *ngSwitchCase="STATE.EDIT">
			<ng-container *ngTemplateOutlet="userDetail; context: {newUser: false}"></ng-container>
		</div>

		<!-- Delete user -->
		<ppa-loading-container [loading]="userDeleteRequester.loading$ | async">
			<ppa-delete-user-form
					*ngSwitchCase="STATE.DELETE"
					[userAssignment]="selectedAssignment"
					(submitAction)="deleteUserAssignment($event)"
					(cancelAction)="resetState()">
			</ppa-delete-user-form>
		</ppa-loading-container>
	</div>
</ng-template>

<!-- User Detail -->
<ng-template #userDetail let-newUser="newUser" let-newUsername="newUsername">
	<ppa-loading-container [loading]="userSaveRequester.loading$ | async">
		<ppa-user-detail-form
				[newUsername]="newUsername"
				[userAssignment]="selectedAssignment"
				[existingSecurityUser]="existingSecurityUser"
				[filterEntity]="filterEntity$ | async"
				[newUser]="newUser"
				(submitAction)="submitUserDetailForm($event)"
				(cancelAction)="resetState()">
		</ppa-user-detail-form>
	</ppa-loading-container>
</ng-template>

<!--Empty list -->
<ng-template #userManagementSelectEntity>
	<ppa-message-banner>Please select an Investing Entity.</ppa-message-banner>
</ng-template>
