<div [ngClass]="{'ppa-backdrop-blur': enableBackdrop$ | async}">
	<ppa-header></ppa-header>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
	<div class="clearfix"></div>
	<ppa-footer></ppa-footer>
</div>
<router-outlet name="popup"></router-outlet>
