<div class="form-group">
	<label>
		<ng-content></ng-content>
	</label>
	<select class="form-control" [(ngModel)]="selectedValue" [disabled]="!enabled" (change)="$event.stopPropagation()" [value]="value">
		<ng-container *ngIf="includeBlank">
			<option [ngValue]="null" selected="selected">{{blankText || ''}}</option>
		</ng-container>
		<option *ngFor="let option of optionList$ | async" [ngValue]="option" [title]="getTitleText(option)">{{getDisplayText(option)}}</option>
	</select>
</div>
