/* Pre-bootstrap loading indicator content*/
html {
	font-family: aaux-next, sans-serif;
}

/* Minimal Font Awesome spinner implementation via IcoMoon.io */
@font-face {
	font-family: 'min-fontawesome';
	src: url('../fonts/min-fontawesome.eot?jpjt1e');
	src: url('../fonts/min-fontawesome.eot?jpjt1e#iefix') format('embedded-opentype'),
	url('../fonts/min-fontawesome.ttf?jpjt1e') format('truetype'),
	url('../fonts/min-fontawesome.woff?jpjt1e') format('woff'),
	url('../fonts/min-fontawesome.svg?jpjt1e#min-fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes preload-spin {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes preload-spin {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.ppa-pre-bootstrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.ppa-pre-bootstrap-spinner {
	/*noinspection CssNoGenericFontName*/
	font-family: 'min-fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	-webkit-animation: preload-spin 1s infinite steps(8);
	-moz-animation: preload-spin 1s infinite steps(8);
	-o-animation: preload-spin 1s infinite steps(8);
	animation: preload-spin 1s infinite steps(8);
	font-size: 3em;
}

.ppa-pre-bootstrap-spinner::before {
	content: "\f110";
}
