<div bsModal #modalDialog="bs-modal" [config]="getConfig()" class="modal fade" tabindex="-1" role="dialog" [attr.aria-hidden]="autoShow" (onHide)="onClose.emit($event)">
	<div #modalDialogWindow class="modal-dialog" [class.modal-sm]="size === 'small'" [class.modal-lg]="size === 'large'">
		<form ngForm (ngSubmit)="onSubmit.emit($event)">
			<div class="modal-content">
				<div *ngIf="header" class="modal-header">
					<h2 class="modal-title pull-left" [innerHTML]="header"></h2>
					<button type="button" *ngIf="allowClose" class="close" aria-label="Close" (click)="modalDialog.hide()">
						<i aria-hidden="true" class="fa fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<ng-content></ng-content>
				</div>
				<div *ngIf="errorMessage" class="text-danger text-center mb-3"><span [innerHTML]="errorMessage"></span></div>
				<div class="modal-footer">
					<ppa-loading-container [loading]="loading">
						<div class="text-center">
							<button *ngIf="allowSubmit" class="btn btn-primary" tabindex="1000"
							        [disabled]="!submitEnabled" [innerText]="submitText" [attr.title]="submitTooltip? submitTooltip : null"></button>
							<button type="reset" *ngIf="allowDecline" class="btn btn-secondary" tabindex="1001"
							        [disabled]="!declineEnabled" [innerText]="declineText" (click)="onDecline.emit($event)"
							        [attr.title]="declineTooltip? declineTooltip : null"></button>
							<button type="reset" *ngIf="allowCancel" class="btn btn-secondary" tabindex="1002"
							        [disabled]="!cancelEnabled" [innerText]="cancelText" (click)="onCancel.emit($event)" [attr.title]="cancelTooltip? cancelTooltip : null"></button>
						</div>
					</ppa-loading-container>
				</div>
			</div>
		</form>
	</div>
</div>
