<ppa-loading-container [loading]="loading">
	<ppa-loading-spinner spinner class="d-block mt-5"></ppa-loading-spinner>
	<ng-container *ngIf="rmList$ | async as rmList">
		<ng-container *ngIf="rmList.length > 0">
			<div class="row">
				<div class="col-12">
					<h1>Relationship Manager</h1>
					<div *ngFor="let relationshipManager of rmList$ | async" class="ppa-card">
						<div class="row">
							<div class="ppa-contact-highlight col-12">
								<div class="d-inline-block">
									<img class="ppa-portrait" [src]="getPortraitURL(relationshipManager)"
									     [attr.alt]="relationshipManager.label">
								</div>
								<div class="d-inline-block align-top">
									<h4>
										<ng-container
												*ngIf="getFieldValue(relationshipManager, 'Professional Designations') as designations; else relationshipManagerNoDesignations">
											{{relationshipManager.label}}, {{designations}}
										</ng-container>
										<ng-template #relationshipManagerNoDesignations>
											{{relationshipManager.label}}
										</ng-template>
									</h4>
									{{getFieldValue(relationshipManager, 'Title')}}<br/>
									T {{getFieldValue(relationshipManager, 'Phone Number') | ppaPhoneNumber}}<br/>
									<ppa-email-link *ngIf="getFieldValue(relationshipManager, 'Email Address') as email" [mailto]="email"
									                [target]="{cc: getFieldValue(relationshipManager, 'CCEmailAddress')}" [text]="email"></ppa-email-link>
								</div>
							</div>
							<div class="col-12" [innerHTML]="getFieldValue(relationshipManager, 'Biography') | ppaTextContent"></div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
</ppa-loading-container>

<div class="row mt-4">
	<div class="col-12">
		<h1>Office Locations</h1>
	</div>
	<div class="col-lg-6 col-12">
		<div class="ppa-card">
			<div class="d-inline-block">
				<div><img class="ppa-portrait" src="assets/images/OfficeLocation_WA.jpg" alt="Seattle, WA"></div>
				<div class="mt-1"><a class="btn btn-secondary btn-small" href="https://goo.gl/maps/m2g2gfbZnsXMQUko6">Map</a></div>
			</div>
			<div class="d-inline-block align-top">
				<b>Headquarters - Seattle, WA</b><br/>
				800 Fifth Avenue, Suite 2800<br/>
				Seattle, WA 98104<br/>
				T 206 694 5500<br/>
				<div class="font-italic font-sm">Also an Eaton Vance Trust Company office.</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12">
		<div class="ppa-card">
			<div class="d-inline-block">
				<div><img class="ppa-portrait" src="assets/images/OfficeLocation_MN.jpg" alt="Minneapolis, MN"></div>
				<div class="mt-1"><a class="btn btn-secondary btn-small" href="https://goo.gl/maps/VDe4no52cZN2">Map</a></div>
			</div>
			<div class="d-inline-block align-top">
				<b>Minneapolis, MN</b><br/>
				3600 Minnesota Drive, Suite 325<br/>
				Minneapolis, MN 55435<br/>
				T 952 767 7700<br/>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12">
		<div class="ppa-card">
			<div class="d-inline-block">
				<div><img class="ppa-portrait" src="assets/images/OfficeLocation_CT.PNG" alt="Westport, CT"></div>
				<div class="mt-1"><a class="btn btn-secondary btn-small" href="https://goo.gl/maps/QSUPg1TduYu">Map</a></div>
			</div>
			<div class="d-inline-block align-top">
				<b>Westport, CT</b><br/>
				518 Riverside Avenue<br/>
				Westport, CT 06680<br/>
				T 203 227 1700<br/>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12">
		<div class="ppa-card">
			<div class="d-inline-block">
				<div><img class="ppa-portrait" src="assets/images/OfficeLocation_MA.jpg" alt="Boston, MA"></div>
				<div class="mt-1"><a class="btn btn-secondary btn-small" href="https://goo.gl/maps/V8w4NAg3Nb92">Map</a></div>
			</div>
			<div class="d-inline-block align-top">
				<b>Boston, MA</b><br/>
				2 International Place<br/>
				Boston, MA 02110<br/>
				<div class="font-italic font-sm">Also an Eaton Vance Trust Company office.</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-12">
		<div class="ppa-card">
			<div class="d-inline-block">
				<div><img class="ppa-portrait" src="assets/images/OfficeLocation_AU.jpg" alt="Sydney, AUS"></div>
				<div class="mt-1"><a class="btn btn-secondary btn-small" href="https://goo.gl/maps/RRRqNkofMDqVwwxw9">Map</a></div>
			</div>
			<div class="d-inline-block align-top">
				<b>Sydney, AUS</b><br/>
				Suite 05, Level 25<br/>
				259 George Street<br/>
				Sydney NSW 2000<br/>
				T +61 2 8229 0222<br/>
			</div>
		</div>
	</div>
</div>
