<nav class="navbar navbar-toggleable-md navbar-inverse ppa-links">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#linkNavbarSupportedContent"
		        aria-controls="linkNavbarSupportedContent"
		        aria-expanded="false" aria-label="Toggle Link Bar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="linkNavbarSupportedContent">
			<ul class="navbar-nav w-100">
				<li class="nav-item"><a class="nav-link" href="https://www.parametricportfolio.com/disclosure">Disclosure</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.parametricportfolio.com/terms-of-use">Terms of Use</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.parametricportfolio.com/privacy-policy">Privacy Policy</a></li>
				<li class="nav-item"><a class="nav-link" href="#" (click)="showTermsOfUse(); false">Portal Terms of Use</a></li>
				<li class="nav-item ml-auto">
					<ng-container *ppaContext="let emailAddressEls; using: {$implicit: emailAddressEls$ | async}">
						<ng-container *ngIf="emailAddressEls.length === 1; else multipleEmailAddresses">
							<ppa-email-link [classList]="['nav-link']" [mailto]="emailAddressEls[0].value"
							                [target]="{subject: (pageTitleEl$ | async).value + ' / ' + ((currentUser$ | async)?.label || 'Unauthenticated User')}"
							                [text]="'For questions, contact ' + emailAddressEls[0].value">
							</ppa-email-link>
						</ng-container>
						<ng-template #multipleEmailAddresses>
							<ppa-email-link *ngFor="let emailAddressEl of emailAddressEls"
							                [classList]="['nav-link', 'py-0']" [mailto]="emailAddressEl.value"
							                [target]="{subject: (pageTitleEl$ | async).value + ' / ' + ((currentUser$ | async)?.label || 'Unauthenticated User')}"
							                [text]="'For questions' + (emailAddressEl.viewType ? ' regarding ' + emailAddressEl.viewType.name + ' relationships' : '') + ', contact ' + emailAddressEl.value">
							</ppa-email-link>
						</ng-template>
					</ng-container>
				</li>
			</ul>
		</div>

		<div>
			<a href="https://www.linkedin.com/company/parametric" title="Find us on LinkedIn">
				<img alt="LinkedIn" src="assets/icons/linkedin.png">
			</a>
		</div>
	</div>
</nav>

