<ppa-loading-container [loading]="(subscriptionEntryRequester.loading$ | async) || (subscriptionSaveRequester.loading$ | async)">
	<ng-container *ngIf="subscriptionList$ | async as subscriptionList; else subscriptionListSelectGroup">
		<ng-container *ngIf="subscriptionList.length > 0; else subscriptionListEmpty">
			<h1>My Notification Settings</h1>
			<div>
				When applying notifications at the Organization, the settings will apply to all corresponding Investing Entities/Investment Accounts. If you’d
				like to override the Organization notification settings, each Investing Entity/Investment Account can also adjust the specific notification
				settings as well.
			</div>
			<div>
				<h3 class="mt-4">
					<label>Notifications for {{(selectedEntity$ | async).label}}</label>
				</h3>
			</div>
			<div class="font-weight-bold mb-0">Please select the notifications that you would like to receive:</div>
			<form [formGroup]="subscriptionForm" (ngSubmit)="saveSubscriptionForm(subscriptionForm)">
				<div class="row">
					<div class="ml-4 col-12">
						<div formArrayName="notifications">
							<div *ngFor="let key of notificationHierarchyMap.keys(); index as i" [formGroupName]="i">
								<div><label class="font-weight-bold pt-3 mb-0">{{key}}</label></div>
								<div formArrayName="items">
									<div *ngFor="let subscription of notificationHierarchyMap.get(key); index as j" [formGroupName]="j">
										<div class="checkbox">
											<label class="custom-control custom-checkbox m-0" [title]="getNotificationTitle(subscription)">
												<input #subscriptionCheckbox class="custom-control-input" formControlName="notificationEnabled" type="checkbox"
												       [checked]="subscription.notificationEnabled">
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description font-weight-normal">{{subscription.coalesceDefinitionTypeFileCategoryName}}</span>
											</label>
										</div>
										<div *ngIf="subscriptionCheckbox.checked && hasNotificationFrequencySelection(subscription)" class="ml-4">
											<div class="font-weight-bold">Notification Frequency:</div>
											<div *ngFor="let frequency of getNotificationFrequencyOptions(subscription)"
											     class="form-check form-check-inline mx-1 col-12 col-lg-auto">
												<label class="form-check-label" [attr.title]="frequency.description">
													<input class="form-check-input" type="radio"
													       formControlName="subscriptionFrequency" [value]="frequency.name">
													{{frequency.label}}
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="pull-right">
							<button class="btn btn-primary"
							        [disabled]="subscriptionForm.pristine || !subscriptionForm.valid || (isSimulatingUser$ | async)"
							        [attr.title]="(isSimulatingUser$ | async) ? 'Modifying notification settings is not allowed while simulating a user.' : ''">
								Save
							</button>
							<button type="button" class="btn btn-secondary" (click)="resetSubscriptionForm()">Reset</button>
						</div>
					</div>
				</div>
			</form>
		</ng-container>
	</ng-container>

	<!-- Templates -->
	<ng-template #subscriptionListEmpty>
		<ppa-message-banner>No subscriptions exist for the given Notification Group.</ppa-message-banner>
	</ng-template>

	<ng-template #subscriptionListSelectGroup>
		<ppa-message-banner>Select a Notification Group to configure subscriptions.</ppa-message-banner>
	</ng-template>
</ppa-loading-container>

