<!-- TODO: Allow user to create specify table columns using transcluded columns whose content is the retriever for the cell data? -->
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th *ngFor="let column of columnList">{{column.header}}</th>
			<th *ngIf="enableSelect" class="align-middle">
				<label class="custom-control custom-checkbox m-0 pull-right">
					<input type="checkbox" class="custom-control-input d-none" [(ngModel)]="selectedAll"
					       (change)="onSelectAllChanged($event.target.checked)">
					<span class="custom-control-indicator"></span>
				</label>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let row of rowList">
			<td *ngFor="let column of columnList" [ngStyle]="column.style">
				<a *ngIf="column.click; else plainRowValue" href="#" (click)="column.click!(row.value); false">
					<img *ngIf="column.image" [attr.src]="getRowImageSource(row, column)" [attr.title]="getRowImageTitle(row, column)" [attr.alt]="getRowImageTitle(row, column)"/>
					{{getRowValue(row, column)}}
				</a>
				<ng-template #plainRowValue>{{getRowValue(row, column)}}</ng-template>
			</td>
			<td *ngIf="enableSelect" class="align-middle">
				<label class="custom-control custom-checkbox m-0 pull-right">
					<input type="checkbox" class="custom-control-input d-none" [(ngModel)]="row.selected" (change)="onSelectChanged()">
					<span class="custom-control-indicator"></span>
				</label>
			</td>
		</tr>
		</tbody>
	</table>
</div>
