/*
 * This file contains Bootstrap customizations.
 */

/*
 * Forms
 */
.form-control[readonly] {
	background-color: $input-bg; // Ignore Bootstrap "disabled" background
	user-select: none;
}

/*
 * Components
 */
.dropdown-toggle {
	&::after {
		transform: rotate(-90deg);
		@include transition();
	}
	&[aria-expanded="true"]::after {
		transform: none;
	}
}
