/*
 * Normalization styles
 */

html {
	@extend %ppa-aaux-next-regular;
	// REM sizes are based on the applied style of the root node (i.e., the <html> node)
	font-size: $ppa-font-size;
}

body *, html * {
	// Disable browser stylesheet outlines; replaced with framework/user accessibility styles
	outline: none !important;
}

.ppa-body {
	&.a, &.ppa-body .a:visited {
		color: $ppa-color-link;
	}
	::placeholder {
		@extend %ppa-aaux-next-regular;
	}
	label {
		color: $ppa-color-cool-gray-9;
	}
	th {
		color: $ppa-color-cool-gray-9;
	}
}
