/*
 * Font customizations
 */
.ppa-body {
	h1 {
		@extend %ppa-aaux-next-light;
		color: $ppa-color-primary-berry;
		font-size: $ppa-font-h1-size;
	}

	h2 {
		@extend %ppa-aaux-next-regular;
		color: $ppa-color-primary-berry;
		font-size: $ppa-font-h2-size;
	}

	h3 {
		@extend %ppa-aaux-next-regular;
		color: $ppa-color-primary-gray;
		font-size: $ppa-font-h3-size;
	}

	h4 {
		@extend %ppa-aaux-next-bold;
		color: $ppa-color-plain;
		font-size: $ppa-font-h4-size;
		line-height: $line-height-base;
		margin: 0;
	}

	.text-berry {
		color: $ppa-color-primary-berry !important;
	}

	.ppa-box-type {
		@extend %ppa-aaux-next-bold;
		color: $ppa-color-cool-gray-9;
		font-size: $ppa-font-box-type-size;
		text-transform: uppercase;
	}

	.text-gray {
		color: $ppa-color-cool-gray-5 !important;
	}

	.text-gray-medium {
		color: $ppa-color-cool-gray-10 !important;
	}
}
