/*
 * This file contains custom utility classes.
 *
 * These classes should follow Bootstrap naming conventions where possible.
 */

////////////////////////////////////////////////////////////////////////////
////////            Custom Bootstrap Classes                        ////////
////////////////////////////////////////////////////////////////////////////

/*
 * These classes should follow Bootstrap naming conventions. Overrides to Bootstrap styles should be included here as well.
 */

/**
 * Assign a minimum or maximum column width.

 * Generated classes in the form "col(-infix)-(grid-size)-min" can be used to assign a min-width to the given element corresponding to the specified grid-size.
 *
 * Generated classes in the form "col(-infix)-(grid-size)-max" can be used to assign a max-width to the given element.
 *
 * This is useful for flex-sizing boundaries. For example, <code>class="col col-4-max"</code> would use flex-sizing for the element but limit its size to four-
 * columns wide, preventing the element from growing more than necessary.
 */
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@for $i from 1 through $grid-columns {
			.col#{$infix}-#{$i}-min {
				min-width: percentage($i / $grid-columns);
			}
			.col#{$infix}-#{$i}-max {
				max-width: percentage($i / $grid-columns);
			}
		}
	}
}

/*
 * Display
 */
@include bg-variant('.bg-pale-gray', $ppa-color-muted);
.d-flex-grow {
	flex-grow: 1;
}

.d-table-row {
	display: table-row;
}

.d-table-fixed {
	display: table;
	table-layout: fixed;
}

.o-auto {
	overflow: auto;
}

/*
 * Typography
 */
@include text-emphasis-variant('.text-brown', $ppa-brown);
@include text-emphasis-variant('.text-plain', $ppa-color-plain);
// Create "font-<size>" classes
@each $size, $value in $font-sizes {
	.font-#{$size} {
		font-size: $value !important;
	}
}

////////////////////////////////////////////////////////////////////////////
////////            Custom Bootstrap Classes                        ////////
////////////////////////////////////////////////////////////////////////////

.ppa-flex-center {
	@extend .d-flex;
	@extend .align-items-center; // Vertical alignment
	@extend .justify-content-center; // Horizontal alignment
}

.ppa-flex {
	@extend .d-flex;
	@extend .align-items-center; // Vertical alignment
}

.ppa-fill-shape {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
