
.jquerybuilder .query-builder .rules-group-container {
	padding: 10px;
	padding-bottom: 6px;
	border: 1px solid #d0d0d0;
	background: #f1f1f1;
}

.jquerybuilder .query-builder .rules-group-container, .jquerybuilder .query-builder .rule-container, .jquerybuilder .query-builder .rule-placeholder {
	position: relative;
	margin: 4px 0;
	/* border-radius: 5px; */
	padding: 5px;
	border: 1px solid #d0d0d0;
	background: #f1f1f1;
}

.jquerybuilder dl {
	margin-top: 0;
	margin-bottom: 0;
}

.jquerybuilder .form-control {
	display: block;
	width: 100%;
	height: 22px;
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	padding: 1px 3px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jquerybuilder .rule-value-container input[type='text'] {
	text-decoration: overline;
	text-decoration-style: dashed;
}

.reconciliationMismatch { background-color: #fff0f0 !important; }

.reconciliationDiffGroup { background-color: #f9f9f9; }

/* Grouping View grid styles for displaying the reconciliation run details */
.hide-group-hd .x-grid-group-hd { display: none; }

.stripe-group .x-grid-group:nth-of-type(even) { background-color: #f9f9f9; }

.no-border-group div.x-grid-group-body div {
	border: 0;
}

.group-padding .x-grid-group-body div {
	padding: 0px !important;
}

.group-padding .x-grid-group {
	padding: 4px 0px 4px 0px !important;
	border: solid thin #f2f2f2;
}

/* TODO: This is here because WebJars ExtJS uses a different URL than the standard ExtJS. This should be removed and placed in the root application.css once all apps have been normalized to use the WebJars distribution. */
/* Fix spinner CSS precedence for non-default themes (spinner background is overridden by .x-form-trigger background) */
.x-form-field-wrap img.x-form-trigger.x-form-spinner-trigger {
	/*noinspection CssUnknownTarget*/
	background: transparent url(../webjars/extjs/ux/images/spinner.gif) no-repeat 0 0;
}
