<ppa-dialog [autoShow]="true" [allowSubmit]="false" (onClose)="onClose()" (onCancel)="onClose()"
            [cancelText]="'Close'" [header]="'END-USER CLICK-THROUGH LICENSE AGREEMENT'" [size]="'large'">
	<ppa-terms-of-use-content></ppa-terms-of-use-content>
</ppa-dialog>

