<ppa-dialog *ppaContext="let portalName; using: {$implicit: (portalNameEl$ | async).value}"
            [autoShow]="true" [allowClose]="false" [cancelEnabled]="true"
            [header]="'END-USER CLICK-THROUGH LICENSE AGREEMENT'"
            [size]="'large'" [submitText]="'I ACCEPT'" [cancelText]="'I DECLINE'"
            [loading]="loading" [errorMessage]="errorMessage"
            (onSubmit)="submitEmitter$.emit($event)"
            (onCancel)="onCancel(portalName)">
	<ppa-terms-of-use-content></ppa-terms-of-use-content>
</ppa-dialog>
