<ppa-dialog *ngIf="notificationAcknowledgement$ | async as notificationAcknowledgement; else navigateToReturnUrl()"
            [autoShow]="true"
            [allowClose]="false"
            [allowCancel]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.cancelUsed"
            [allowDecline]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.declineUsed"
            [allowSubmit]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.confirmUsed"
            [cancelEnabled]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.cancelUsed"
            [declineEnabled]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.declineUsed"
            [submitEnabled]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.confirmUsed"
            [header]="notificationAcknowledgement.subject"
            [size]="'large'"
            [submitText]="notificationAcknowledgement.notificationDefinition.acknowledgementType.confirmButtonLabel"
            [cancelText]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.cancelButtonLabel"
            [declineText]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.declineButtonLabel"
            [submitTooltip]="notificationAcknowledgement.notificationDefinition.acknowledgementType.confirmButtonTooltip"
            [cancelTooltip]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.cancelButtonTooltip"
            [declineTooltip]="notificationAcknowledgement.notificationDefinition?.acknowledgementType?.declineButtonTooltip"
            [loading]="loading" [errorMessage]="errorMessage"
            (onSubmit)="acknowledgeRequester.load({id:notificationAcknowledgement.id, acknowledged:true})"
            (onCancel)="acknowledgeRequester.load({id:notificationAcknowledgement.id, acknowledged:undefined})"
            (onDecline)="acknowledgeRequester.load({id:notificationAcknowledgement.id, acknowledged:false})">
	<div [innerHTML]="notificationAcknowledgement.text"></div>
</ppa-dialog>
