<h1>Your Portal Administrator(s)</h1>
<div *ppaContext="let pageTitle; using: {$implicit: (pageTitleEl$ | async).value}">
	If you request to have an individual added/removed or granted additional access to the {{pageTitle}}, please reach out to your portal administrator(s) listed below.
	Only these individuals have the ability to add/remove users and/or edit access to various sections of the {{pageTitle}}.
</div>
<div>
	<h3 class="mt-4">
		<label>Portal administrators for {{(currentUser$ | async)?.label || 'Unidentified User'}}</label>
	</h3>
</div>
<ppa-loading-container *ppaContext="let adminAssignmentList; using: {$implicit: adminAssignmentRequester.response$ | async}"
                       [loading]="adminAssignmentRequester.loading$ | async">
	<ppa-your-portal-admin-user-list
			[username]="(currentUser$ | async)?.label"
			[valueList]="adminAssignmentList"
			[orderBy]="userAssignmentSortSource | async"
			(sortAction)="userAssignmentSortSource.next($event)">
	</ppa-your-portal-admin-user-list>
</ppa-loading-container>
