<div class="ppa-navbar-top">
	<div class="container">
		<nav class="navbar navbar-toggleable-md navbar-light p-0">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#superNavbarSupportedContent"
			        aria-controls="superNavbarSupportedContent" aria-expanded="false" aria-label="Toggle Upper Navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-between" id="superNavbarSupportedContent">
				<ul class="navbar-nav">
					<li *ngIf="simulatedEntity" class="nav-item">
						<a class="nav-link" href="?viewAsEntityId={{simulatedEntity?.id}}">Viewing for entity: <b>{{simulatedEntity?.entityLabelWithSourceSection}}</b></a>
					</li>
					<li *ngIf="simulatedUser" class="nav-item">
						<a class="nav-link" href="?viewAsUserId={{simulatedUser?.id}}">Viewing as user: <b>{{simulatedUser?.labelLong}}</b></a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li *ngIf="hasAccessGroup('Help')" class="nav-item">
						<a class="nav-link" routerLinkActive="active" routerLink="/main/help">Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLinkActive="active" routerLink="/main/feedback">Feedback</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.parametricportfolio.com/">Parametric Website</a>
					</li>
					<li *ngIf="showMenu" class="nav-item">
						<div class="dropdown">
							<a class="dropdown-toggle nav-link" id="userDropdownLink" href="#" data-toggle="dropdown" aria-expanded="false">
								{{username}}
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownLink">
								<a *ngIf="showProfile" class="dropdown-item" routerLink="/profile/contact-information" routerLinkActive="active">My Profile</a>
								<a *ngIf="showNotifications" class="dropdown-item" routerLink="/profile/notification-settings" routerLinkActive="active">
									My Notification Settings
								</a>
								<a *ngIf="showAdmin" class="dropdown-item" routerLink="/admin/" routerLinkActive="active">User Management</a>
								<a *ngIf="showYourPortalAdmin" class="dropdown-item" routerLink="/your-portal-admin/" routerLinkActive="active">Your Portal Administrator(s)</a>
								<ng-container *ngIf="showAnimationsToggle">
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" (click)="toggleAnimations.emit(!animationsEnabled); false" href="#">
										{{animationsEnabled ? 'Disable' : 'Enable'}} Animations
									</a>
								</ng-container>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" routerLink="/profile/change-password" routerLinkActive="active">Change Password</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" (click)="logout.emit(); false" href="#">Logout</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

