<!-- Primary container for displaying view -->
<ng-container *ngIf="loading; then contentLoading; else contentReady"></ng-container>

<!-- Template to be used when content is loading -->
<ng-template #contentLoading>
	<ng-container *ngIf="renderHidden; then spinnerHiddenContent; else spinner"></ng-container>
</ng-template>

<!-- Template to be used when content is ready -->
<ng-template #contentReady>
	<ng-container [ngTemplateOutlet]="contentAnimation"></ng-container>
</ng-template>

<!-- Template to be used for spinner content -->
<ng-template #spinner>
	<div #spinnerContainer>
		<ng-content select="[spinner]"></ng-content>
	</div>
	<ng-container *ngIf="!spinnerContainer.children.length">
		<ppa-loading-spinner>
			<ng-content select="[spinnerText]"></ng-content>
		</ppa-loading-spinner>
	</ng-container>
</ng-template>

<!--
	Template to be used for spinner content when actual content is rendered in a hidden state. It may be desirable to render the inner content in a hidden state
	so that the height and width of the element can be affected or so that inner subscriptions (via the async pipe) can be initialized without waiting for
	loading to complete.
-->
<ng-template #spinnerHiddenContent>
	<div class="invisible" [ngStyle]="{'min-height.px': hiddenHeight}">
		<ng-container [ngTemplateOutlet]="contentAnimation"></ng-container>
	</div>
	<div class="ppa-fill-shape ppa-flex-center">
		<ng-container [ngTemplateOutlet]="spinner"></ng-container>
	</div>
</ng-template>

<!-- Template for wrapping content with an animation -->
<ng-template #contentAnimation>
	<ng-container [ngSwitch]="animationType">
		<div *ngSwitchCase="'fade'" [@fadeInAnimation]>
			<ng-container [ngTemplateOutlet]="content"></ng-container>
		</div>
		<div *ngSwitchCase="'enter'" [@enterAnimation]>
			<ng-container [ngTemplateOutlet]="content"></ng-container>
		</div>
		<div *ngSwitchDefault>
			<ng-container [ngTemplateOutlet]="content"></ng-container>
		</div>
	</ng-container>
</ng-template>

<!-- Template for content. This is used because there must be only a single instance of the selector-less ng-content block. -->
<ng-template #content>
	<ng-content></ng-content>
</ng-template>
