<div class="ppa-read-more"
	 #textBlock
	 [innerHTML]="text"
	 [class.collapsed]="isCollapsed"
	 [style.height]="isCollapsed ? maxHeight + 'px' : 'auto'">
</div>
<a *ngIf="isCollapsable" (click)="isCollapsed = !isCollapsed">Read {{isCollapsed ? 'More' : 'Less'}}</a>
