<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit$.emit($event)">
	<div class="modal-header">
		<h2 class="modal-title">Request Password Reset</h2>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
			<i aria-hidden="true" class="fa fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label" for="ppaLoginUsername">User Name</label>
			<input id="ppaLoginUsername" class="form-control" name="username" placeholder="Email address" formControlName="username" [value]="username">
		</div>
	</div>
	<div *ngIf="errorMessage" class="text-danger text-center mb-3"><span [innerHTML]="errorMessage"></span></div>
	<div class="modal-footer">
		<ppa-loading-container [loading]="loading">
			<div class="text-center">
				<button class="btn btn-secondary">Submit</button>
			</div>
		</ppa-loading-container>
	</div>
</form>
