<form *ngIf="forgotPasswordForm$ | async as forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="attemptPasswordChange(forgotPasswordForm)">
	<div class="modal-header">
		<h2 class="modal-title">Password Change Is Required</h2>
	</div>
	<div class="m-3 font-sm">
		<ul>
			<li>Passwords must be at least 8 characters long (not longer than 30)</li>
			<li>Passwords cannot contain all or part of the user name</li>
			<li>Contains elements from three of the following four categories:
				<ul>
					<li>English uppercase characters (A through Z)</li>
					<li>English lowercase characters (a through z)</li>
					<li>Numeric characters (0 through 9)</li>
					<li>Non-alphanumeric (for example, !, $, #, %)</li>
				</ul>
			</li>
			<li>Passwords cannot contain sequential numeric or alpha characters (i.e. abc, 123, qwerty)</li>
			<li>Passwords cannot contain the same character in succession more than 3 times (i.e. 1111)</li>
		</ul>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<ng-template #newPasswordPopover>
				<div [innerHtml]="formErrors.newPassword"></div>
			</ng-template>
			<label class="control-label" for="ppaPassword">New Password</label>
			<div [class.has-error]="formErrors.newPassword">
				<input id="ppaPassword" formControlName="newPassword" class="form-control ppa-validate-indicator" type="password" name="new_password"
					   [popover]="newPasswordPopover" placement="top" triggers="manual"
					   [isOpen]="formErrors.newPassword"
					   required>
			</div>
		</div>
		<div class="form-group">
			<ng-template #confirmPasswordPopover>
				<div *ngIf="formErrors.newPasswordConfirmation && !forgotPasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword"
					 [innerHtml]="formErrors.newPasswordConfirmation"></div>
				<div *ngIf="forgotPasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword" [innerHtml]="'Passwords do not match'"></div>
			</ng-template>
			<label class="control-label" for="ppaPasswordConfirmation">Confirm Password</label>
			<div [class.has-error]="formErrors.newPasswordConfirmation">
				<input id="ppaPasswordConfirmation" formControlName="newPasswordConfirmation" class="form-control ppa-validate-indicator" type="password"
					   name="new_password_confirmation"
					   [popover]="confirmPasswordPopover" placement="top" triggers="manual"
					   [isOpen]="formErrors.newPasswordConfirmation || forgotPasswordForm.controls.newPasswordConfirmation.errors?.MatchPassword"
					   required>
			</div>
		</div>
	</div>
	<div *ngIf="errorMessage" class="text-danger text-center mb-3"><span [innerHTML]="errorMessage"></span></div>
	<div class="modal-footer">
		<ppa-loading-container [loading]="loading$ | async">
			<div class="text-center">
				<button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.pristine">Save</button>
			</div>
		</ppa-loading-container>
	</div>
</form>
