<ppa-loading-container [loading]="!loadingMore && (fileRequester.loading$ | async)">
	<ppa-loading-spinner spinner class="d-block mt-5"></ppa-loading-spinner>
	<ng-container *ngIf="validationMessage || errorMessage; then errorElement else accountListElement"></ng-container>
</ppa-loading-container>
<!-- Templates -->
<ng-template #errorElement>
	<ppa-message-banner>{{validationMessage || errorMessage}}</ppa-message-banner>
</ng-template>

<ng-template #accountListElement>
	<div class="mb-3">
		<div class="row">
			<div class="col-4">
				<div *ngIf="useDetailView && fileDetailList$ && total" class="text-left text-muted px-2">
					Displaying {{(fileDetailList$ | async).length}} of {{total}} files
				</div>
			</div>
			<div class="col-4">
				<div class="text-center"></div>
			</div>
			<div class="col-4">
				<div class="text-right">
					<div class="btn-group" role="group" aria-label="Download Type">
						<button type="button" class="btn btn-secondary" (click)="downloadFileList(false)" title="Create PDF from selection"><img
								src="assets/icons/pdf.png" alt="PDF"> PDF
						</button>
						<button type="button" class="btn btn-secondary" (click)="downloadFileList(true)" title="Create ZIP from selection"><img
								src="assets/icons/zip.png" alt="ZIP"> ZIP
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-container *ngIf="useDetailView; then detailView else summaryView"></ng-container>
</ng-template>

<ng-template #detailView>
	<ppa-table #tableElement [enableSelect]="true" [valueList]="(fileDetailList$ | async)" [columnList]="columnList"></ppa-table>
	<div class="row">
		<div class="col-4">
			<div *ngIf="total" class="text-left text-muted px-2">Displaying {{(fileDetailList$ | async).length}} of {{total}} files</div>
		</div>
		<div class="col-4 text-center">
			<div class="text-center">
				<ppa-loading-container [loading]="loadingMore && (fileRequester.loading$ | async)" class="pt-5" [animationType]="'none'">
					<ppa-loading-spinner spinner class="d-block mt-5"></ppa-loading-spinner>
					<button *ngIf="!hideLoadMore((fileDetailList$ | async)?.length)" (click)="onLoadMoreClick()"
					        type="button" class="btn btn-secondary">
						Load More
					</button>
				</ppa-loading-container>
			</div>
		</div>
		<div class="col-4">
			<div class="text-right"></div>
		</div>
	</div>
</ng-template>

<ng-template #summaryView>
	<ppa-portal-file-summary-list #summaryElement [portalFileHierarchyList]="fileSummaryList$ | async"
	                              [numSummaryColumns]="numSummaryColumns"
	                              [username]="(currentUser$ | async)?.label">
	</ppa-portal-file-summary-list>
</ng-template>
