<div class="row">
	<div class="col-sm col-sm-min-4">
		<h1>Recently Published</h1>
		<ppa-loading-container [loading]="recentlyPublishedLoading">
			<ul class="list-unstyled d-table-fixed w-100">
				<li *ngFor="let file of recentlyPublishedList$ | async" class="d-table-row">
					<div class="d-table-cell text-nowrap pb-2">
						<div class="text-truncate" [attr.title]="file.displayName">
							<a href="#" (click)="downloadFile(file.portalFileId, file.assignedPortalEntity?.id); false">{{formatFileDisplayName(file)}}</a>
						</div>
						<div class="text-truncate" [attr.title]="file.assignedPortalEntity?.label">
							{{file.assignedPortalEntity?.label}}
						</div>
					</div>
				</li>
			</ul>
		</ppa-loading-container>
	</div>


	<div class="col-sm col-sm-min-5">
		<h1>Recent Research</h1>
		<p>
			Parametric is widely recognized as a thought leader in engineered portfolio management. Below is a sampling of our research across a variety of
			strategies.
		</p>
		<p>
			<a class="btn btn-secondary" href="https://www.parametricportfolio.com/insights-and-research">
				Visit Insights &amp; Research
			</a>
		</p>
	</div>


	<div class="col-sm col-sm-min-3" *ngIf="hasContactsAccessGroup$ | async">
		<h1>Contacts</h1>
		<ppa-loading-container [loading]="relationshipManagerLoading">
			<div *ngFor="let relationshipManager of relationshipManagerList$ | async" class="pb-3">
				<h4>
					<ng-container
							*ngIf="getFieldValue(relationshipManager, 'Professional Designations') as designations; else relationshipManagerNoDesignations">
						{{relationshipManager.label}}, {{designations}}
					</ng-container>
					<ng-template #relationshipManagerNoDesignations>
						{{relationshipManager.label}}
					</ng-template>
				</h4>
				{{getFieldValue(relationshipManager, 'Title')}}<br/>
				T {{getFieldValue(relationshipManager, 'Phone Number') | ppaPhoneNumber}}<br/>
				<ppa-email-link *ngIf="getFieldValue(relationshipManager, 'Email Address') as email" [mailto]="email"
				                [target]="{cc: getFieldValue(relationshipManager, 'CCEmailAddress')}" [text]="email"></ppa-email-link>
			</div>
		</ppa-loading-container>
	</div>
</div>
