<div class="row">
	<div class="col-12">
		<h1>Feedback</h1>
		<ppa-loading-container [loading]="(feedbackQuestionLoadRequester.loading$ | async) || (feedbackQuestionSaveRequester.loading$ | async)">
			<ng-container *ngIf="!submitted; else submittedMessage">
				<form (ngSubmit)="onSubmit()" [formGroup]="questionForm">
					<ng-container [formArrayName]="'resultList'">
						<div *ngFor="let question of questionList; index as i" [formGroupName]="i" class="form-group">
							<div><label>{{question.questionText}}</label></div>
							<ng-container *ngIf="question.selectableOption; then questionRadioInput; else questionTextInput"></ng-container>

							<ng-template #questionRadioInput>
								<div *ngFor="let option of question.optionList" class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="radio" [formControlName]="'resultText'" [value]="option.label">
										{{option.label}}
									</label>
								</div>
							</ng-template>

							<ng-template #questionTextInput>
								<textarea [formControlName]="'resultText'" rows="3" class="form-control"></textarea>
							</ng-template>
						</div>
						<div *ngIf="questionForm.hasError('isEmpty')" class="alert alert-danger" [@enterAnimation]>
							Please provide answers to submit feedback.
						</div>
						<div class="pull-right">
							<button class="btn btn-primary" [disabled]="questionForm.pristine || !questionForm.valid">Send</button>
							<button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
						</div>
					</ng-container>
				</form>
			</ng-container>
		</ppa-loading-container>
	</div>
</div>


<!-- Templates -->
<ng-template #submittedMessage>
	<ppa-message-banner>Thank you for your feedback!</ppa-message-banner>
</ng-template>
