button {
	&:hover {
		cursor: pointer;
	}
}

.ppa-body {
	.btn {
		@extend %ppa-aaux-next-bold;
		font-size: $ppa-font-button-size;
		text-transform: uppercase;
		min-width: 110px;
		padding: 10px 15px;
		border: 1px solid;
	}

	.btn-primary {
		color: $ppa-color-link;
		border-color: $ppa-color-link;
		background-color: #f2f2f2 !important;
		&:hover {
			color: white !important;
			background-color: $ppa-color-link !important;
		}
		&.active {
			color: white !important;
			background-color: $ppa-color-link !important;
			&:hover {
				background-color: $ppa-color-link !important;
			}
		}
	}

	.btn-secondary {
		color: $ppa-color-link;
		background: none;
		border-color: $ppa-color-link;
		&:hover {
			color: white !important;
			background-color: $ppa-color-link !important;
		}
		&.active {
			color: white !important;
			background-color: $ppa-color-link !important;
			&:hover {
				background-color: $ppa-color-link !important;
			}
		}
	}

	.btn.btn-small {
		padding: 5px;
	}
}
