$card-margin: 20px;

.ppa-card {
	background-color: $ppa-color-muted;
	padding: $card-margin;
	margin-top: 15px;
}

.ppa-card-header {
	font-size: 1.4em;
	font-weight: bold;
}

.ppa-card-header2 {
	font-size: 1.2em;
}

.ppa-portrait {
	width: 110px;
	height: 110px;
	margin-right: $card-margin;
}

.ppa-contact-highlight {
	//@extend .row;
	margin-bottom: $card-margin;
}
