a[data-toggle="collapse"] {
	text-decoration: none;

	.ppa-fa-caret::after {
		@extend .fa-caret-down:before;
		display: inline-block; // Inline display types ignore transformations
		@include transition();
	}
	&.collapsed .ppa-fa-caret::after {
		transform: rotate(-90deg);
	}
}
