$footer-margin-height: 30px;
$footer-links-height: 60px;
$footer-notice-height: 160px;
$footer-height: $footer-margin-height + $footer-links-height + $footer-notice-height;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $footer-height;
	color: $ppa-color-body;

	form label {
		font-weight: bold;
		&.form-check-label {
			font-weight: normal;
		}
	}
}

.ppa-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	.ppa-links {
		@extend %ppa-aaux-next-bold;
		background-color: $ppa-color-footer;
		height: $footer-links-height;
		.navbar-nav > li {
			.nav-link {
				padding: 10px;
				font-size: $ppa-font-navigation-size;
				color: $ppa-color-white;
				&:hover {
					color: darken($ppa-color-white, 12%);
				}
			}
			&:first-child > .nav-link {
				padding-left: 0;
			}
		}
	}
	.notice {
		background-color: $ppa-color-subfooter;
		font-size: $ppa-font-navigation-size;
		color: $ppa-color-white;
		height: $footer-notice-height;
		padding-top: 20px;
	}
}
