input::placeholder {
	color: $ppa-light-gray-3 !important;
}

.ppa-validate-indicator.ng-valid[required] {
	border-left: 5px solid $brand-success;
}

.ppa-validate-indicator.ng-invalid:not(form) {
	border-left: 5px solid $brand-danger;
}

input.ng-dirty.ng-invalid:not(.ppa-novalidate) {
	border-color: #e9322d;
	box-shadow: 0 0 6px #f8b9b7;
}

