.modal {
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 0 !important;
}

.ppa-body .modal {
	overflow-y: auto;
}

.modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-content {
	border-radius: 0;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 475px;
}

.modal-sm {
	width: 300px;
}

.modal-lg {
	width: 800px;
}

.modal-password-window {
	.modal-dialog {
		width: 500px;
	}
}

.ppa-body .modal .modal-dialog {
	top: 0;
	transition: 0.5s;
}

.modal-footer {
	justify-content: center;
}
