.ppa-body {
	.ppa-navbar-top {
		background-color: $ppa-color-muted;
		.nav-link, .navbar-text {
			font-size: 0.8em;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}

	// Make navbar logo show up properly
	.ppa-navbar-primary {
		padding: 0;

		@include media-type-size($media-type-screen, $media-size-md) {
			padding-top: 40px;
		}

		.ppa-brand {
			height: 50px;
		}

		.nav-link {
			@extend %ppa-aaux-next-bold;
			color: $ppa-color-navigation;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 20px;
			padding: 15px 20px;

			&.active {
				color: $ppa-color-berry;
				background-color: $ppa-color-muted;
			}
			&:hover {
				color: #ffffff !important;
				background-color: $ppa-color-cool-gray-9 !important;
			}
		}
	}

	.ppa-navbar-message {
		background-color: $ppa-color-muted;
		min-height: 115px;
		padding-top: 20px;
		padding-bottom: 15px;
	}
}
