.ppa-table {
	margin-top: 10px;
	margin-bottom: 10px;
	li {
		padding: 5px 15px;
		> a[data-toggle="collapse"] {
			font-size: 1.1em;
			color: $ppa-color-footer;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		&:nth-child(odd) {
			background-color: $ppa-color-muted;
		}
		li:nth-child(odd) {
			background-color: inherit;
		}
	}
}

.ppa-body .table {
	th {
		border-top: none;
	}
	td, th {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}
	> tbody > tr.ppa-table-row-selected {
		background-color: $ppa-color-muted;
	}
}
