<ppa-dialog [autoShow]="true" [allowClose]="false" [allowCancel]="false"
            [header]="(titleElement$ | async).value" [size]="'medium'" [submitText]="'Login'"
            [loading]="loginRequester.loading$ | async" [errorMessage]="errorMessage"
            (onSubmit)="loginRequester.load(loginForm.value)">
	<div [formGroup]="loginForm">
		<div class="form-group">
			<label class="control-label" for="ppaLoginUsername">User Name</label>
			<input id="ppaLoginUsername" class="form-control ppa-novalidate" name="username" placeholder="Email address" tabindex="1"
			       [formControlName]="'j_username'">
		</div>
		<div class="form-group">
			<label class="control-label" for="ppaLoginPassword">Password</label>
			<div class="pull-right"><a href="#" (click)="onForgotPassword(); false">Forgot your password?</a></div>
			<input id="ppaLoginPassword" class="form-control ppa-novalidate" type="password" name="password" placeholder="Password" tabindex="2"
			       [formControlName]="'j_password'">
		</div>
		<div>
			<label class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" name="remember_me" tabindex="3"
				       [formControlName]="'security_remember_me'">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description"> Remember me</span>
			</label>
		</div>
	</div>
</ppa-dialog>
