<div class="ppa-page-header" *ppaContext="let currentUser; using: {$implicit: currentUser$ | async}">
	<ppa-super-nav
			[username]="currentUser?.label"
			[showMenu]="currentUser != null"
			[showProfile]="currentUser != null"
			[showAdmin]="isAdmin$ | async"
			[showYourPortalAdmin]="currentUser != null && (isSimulatingEntity$ | async) === false"
			[showNotifications]="((isSimulatingUser$ | async) || !administrationMode) && currentUser != null"
			[showAnimationsToggle]="showAnimationsToggle"
			[animationsEnabled]="animationsEnabled$ | async"
			[simulatedEntity]="simulatedEntity$ | async"
			[simulatedUser]="simulatedUser$ | async"
			[accessGroups]="accessGroups$ | async"
			(logout)="logout()"
			(toggleAnimations)="toggleAnimations($event)">
	</ppa-super-nav>
	<ppa-nav-bar
			[loggedIn]="!!currentUser"
			[accessGroups]="accessGroups$ | async">
	</ppa-nav-bar>
	<ppa-data-bar></ppa-data-bar>
</div>
