<div class="row" *ngFor="let hierarchy of portalFileHierarchyList; let i = index">
	<div class="col-12">
		<a data-toggle="collapse" href="#collapseId{{i}}" aria-expanded="true">
			<h2>{{hierarchy.name}}</h2>
		</a>
		<div id="collapseId{{i}}" class="ppa-table collapse show">
			<div class="row">
				<div class="col-12">
					<div *ngFor="let category of hierarchy.categoryList; let j = index">
						<a data-toggle="collapse" href="#collapseId{{i}}-{{j}}" aria-expanded="true">
							<div class="ppa-box-type">{{category.name}}</div>
						</a>
						<div id="collapseId{{i}}-{{j}}" class="collapse show">
							<ul class="row list-unstyled">
								<li *ngFor="let subCategory of category.subCategoryList; let k = index" [class]="'col-' + 12 / numSummaryColumns">
									<div id="subCategoryHeader" class="d-flex flex-row align-items-center">
										<div class="d-flex-grow">
											<a class="text-plain" data-toggle="collapse" href="#collapseId{{i}}-{{j}}-{{k}}" aria-expanded="true">
												<i class="fa ppa-fa-caret"></i>
												<span class="px-2" [title]="subCategory.fileList[0].file.fileCategory.description">{{subCategory.name}}</span>
											</a>
											<ng-container
													*ngTemplateOutlet="emailPopupIcon; context: {subCategory: subCategory, popupEmailAddressEl: popupEmailAddressEl$ | async, popupEmailMessageEl: popupEmailMessageEl$ | async}"></ng-container>
										</div>
										<label id="selectAll" class="custom-control custom-checkbox m-0">
											<input type="checkbox" class="custom-control-input" [(ngModel)]="subCategory.selected"
											       (change)="onSelectAllChanged($event.target.checked, subCategory)">
											<span class="custom-control-indicator"></span>
										</label>
									</div>
									<div id="collapseId{{i}}-{{j}}-{{k}}" class="collapse show">
										<ul class="list-unstyled pl-5">
											<li *ngFor="let report of subCategory.fileList" class="p-0 d-flex flex-row align-items-center">
												<div class="d-flex-grow">
													<a href="#" (click)="downloadFile(report.file.portalFileId, report.file.assignedPortalEntity?.id); false">
														<img [attr.src]="getFileTypeIcon(report.file.documentFileType)"
														     [attr.title]="report.file.documentFileType"/>
													</a>
													<a href="#"
													   (click)="downloadFile(report.file.portalFileId, report.file.assignedPortalEntity?.id); false">{{report.file.displayName}} {{report.file.displayText == null ? '' : 'Status: ' + report.file.displayText}}</a>
												</div>
												<label class="custom-control custom-checkbox m-0">
													<input #reportSelector type="checkbox" class="custom-control-input" name="{{report.file.portalFileId}}"
													       [(ngModel)]="report.selected"
													       (change)="checkIfAllSelected(subCategory)">
													<span class="custom-control-indicator"></span>
												</label>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Template for "Help" sub-category pop-up email icons -->
<ng-template #emailPopupIcon let-subCategory="subCategory" let-usePopupOverrides="usePopupOverrides" let-popupEmailAddressEl="popupEmailAddressEl"
             let-popupEmailMessageEl="popupEmailMessageEl">
	<ng-container
			*ppaContext="let usePopupOverrides; using: {$implicit: {email: (!popupEmailAddressEl?.viewType || popupEmailAddressEl.viewType.name === subCategory.viewTypeName), message: (!popupEmailMessageEl?.viewType || popupEmailMessageEl.viewType.name === subCategory.viewTypeName)}}">
		<a class="text-plain" href="#" (click)="popupEmail(subCategory, usePopupOverrides.email && popupEmailAddressEl?.value); false"
		   [title]="(usePopupOverrides.message && popupEmailMessageEl?.value) || getEmailTitle(subCategory)">
			<i class="fa fa-envelope-o"></i>
		</a>
	</ng-container>
</ng-template>
