<h3>Assignment for: {{filterEntity.label}}</h3>
<form [formGroup]="addUserInitialForm" (ngSubmit)="submitAction.emit({event: addUserInitialForm, pop: pop, errors: formErrors})">
	<div class="row" formGroupName="user">
		<div class="form-group col-6">
			<ng-template #emailAddressCreatePopover>
				<div [innerHtml]="formErrors.getError('user.username')"></div>
			</ng-template>
			<label for="addingUserEmail">Email</label>
			<div [class.has-error]="!addUserInitialForm.pristine && !addUserInitialForm.valid">
				<input id="addingUserEmail" class="form-control ppa-validate-indicator" formControlName="username" type="email"
				       placeholder="Email address"
				       [popover]="emailAddressCreatePopover" placement="top" triggers="manual"
				       [isOpen]="addUserInitialForm.dirty && !addUserInitialForm.valid && formErrors.getError('user.username')"
				       #pop="bs-popover"
				       required>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary" [disabled]="addUserInitialForm.pristine || !addUserInitialForm.valid">Next</button>
		<button class="btn btn-secondary" type="button" (click)="cancelAction.emit()">Cancel</button>
	</div>
</form>
