<form [formGroup]="deleteUserForm" (ngSubmit)="submitAction.emit(deleteUserForm.value)">
	<div>
		Are you sure you want to delete the user assignment for <b>{{userAssignment.securityUser?.label}}</b> from
		<b>{{userAssignment.portalEntity?.label}}</b>?
	</div>
	<div>
		Please be aware that this removes the user's portal access. If legal documentation should be adjusted, please reach out to
		<ppa-email-link [mailto]="'DocumentationTeam@paraport.com'"
						[target]="{subject: 'Legal Documentation – Personnel Adjustment'}"
						[text]="'DocumentationTeam@paraport.com.'">
		</ppa-email-link>
	</div>
	<!-- Hidden fields -->
	<ng-container [formGroupName]="'userAssignment'">
		<input type="hidden" [formControlName]="'id'" [ngModel]="userAssignment.id">
	</ng-container>
	<!-- Visible fields -->
	<div class="row">
		<div class="col-6">
			<ng-template #deleteReasonPopover>
				<div [innerHtml]="formErrors.getError('deleteReason')"></div>
			</ng-template>
			<label for="deletingUserReason">Reason</label>
			<textarea id="deletingUserReason" class="form-control" formControlName="deleteReason" rows="4"
					  maxlength="50" required
					  [popover]="deleteReasonPopover" [placement]="'top'" [triggers]="'manual'"
					  [isOpen]="deleteUserForm.dirty && deleteUserForm.valid && formErrors.getError('deleteReason')"></textarea>
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-danger" [disabled]="deleteUserForm.pristine || !deleteUserForm.valid">Delete</button>
		<button class="btn btn-secondary" type="button" (click)="cancelAction.emit()">Cancel</button>
	</div>
</form>
