<form [formGroup]="userDetailForm" (ngSubmit)="submitAction.emit(userDetailForm.getRawValue())">
	<h3 *ngIf="newUser">Assignment for: {{filterEntity.label}}</h3>
	<h3 *ngIf="!newUser">
		{{userAssignment?.securityUser?.label}} permissions assignment for {{userAssignment?.portalEntity?.label}}
	</h3>

	<div class="row">
		<div class="col-6" formGroupName="user">
			<div class="form-group">
				<ng-template #emailAddressPopover>
					<div [innerHtml]="formErrors.getError('user.username')"></div>
				</ng-template>
				<label for="creatingUserEmail">Email</label>
				<input id="creatingUserEmail" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="username" type="email"
				       placeholder="Email address"
				       [popover]="emailAddressPopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.username')"
				       [title]="getTitle('username')"
				       required>
			</div>
			<div class="form-group">
				<ng-template #firstNamePopover>
					<div [innerHtml]="formErrors.getError('user.firstName')"></div>
				</ng-template>
				<label for="creatingUserFirstName">First Name</label>
				<input id="creatingUserFirstName" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="firstName"
				       [maxLength]="50" placeholder="First name"
				       [popover]="firstNamePopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.firstName')"
				       [title]="getTitle('firstName')"
				       required>
			</div>
			<div class="form-group">
				<ng-template #lastNamePopover>
					<div [innerHtml]="formErrors.getError('user.lastName')"></div>
				</ng-template>
				<label for="creatingUserLastName">Last Name</label>
				<input id="creatingUserLastName" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="lastName"
				       [maxLength]="50"
				       placeholder="Last name"
				       [popover]="lastNamePopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.lastName')"
				       [title]="getTitle('lastName')"
				       required>
			</div>
			<div class="form-group">
				<ng-template #titlePopover>
					<div [innerHtml]="formErrors.getError('user.title')"></div>
				</ng-template>
				<label for="creatingUserTitle">Title</label>
				<input id="creatingUserTitle" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="title" [maxLength]="100"
				       placeholder="Title"
				       [popover]="titlePopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.title')"
				       [title]="getTitle('title')"
				       required>
			</div>
			<div class="form-group">
				<ng-template #companyNamePopover>
					<div [innerHtml]="formErrors.getError('user.companyName')"></div>
				</ng-template>
				<label for="creatingUserCompany">Company</label>
				<input id="creatingUserCompany" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="companyName"
				       [maxLength]="100" placeholder="Company"
				       [popover]="companyNamePopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.companyName')"
				       [title]="getTitle('companyName')"
				       required>
			</div>
			<div class="form-group">
				<ng-template #phoneNumberPopover>
					<div [innerHtml]="formErrors.getError('user.phoneNumber')"></div>
				</ng-template>
				<label for="creatingUserPhoneNumber">Phone Number</label>
				<input id="creatingUserPhoneNumber" class="form-control" [ngClass]="{'ppa-validate-indicator': newUser}"
				       formControlName="phoneNumber"
				       [maxLength]="50" placeholder="(555) 555-5555"
				       [popover]="phoneNumberPopover" placement="top" triggers="manual"
				       [isOpen]="formErrors.getError('user.phoneNumber')"
				       [title]="getTitle('phoneNumber')"
				       required>
			</div>
		</div>
		<div class="col-6" formGroupName="userAssignment">
			<div class="form-group">
				<label for="roleId">
					Role
					<ng-container *ngFor="let noteEl of (addEditUserNoteEls$ | async)">
						<div *ngIf="!noteEl.viewType || noteEl.viewType.name === filterEntity.entityViewType?.name" [innerHTML]="noteEl.value"></div>
					</ng-container>
				</label>
				<ppa-loading-container *ppaContext="let roleList; using: {$implicit: roleListRequester.response$ | async}"
				                       [loading]="roleListRequester.loading$ | async">
					<select id="roleId" [formControlName]="'roleId'" class="form-control" [class.ppa-validate-indicator]="newUser">
						<option *ngFor="let role of roleList" [innerText]="role.label" [ngValue]="role.id" [attr.title]="role.description"></option>
					</select>
				</ppa-loading-container>
			</div>

			<div class="form-group" *ngIf="userDetailForm?.get('userAssignment')?.get('roleId')?.value">
				<h4>List of Permissions:</h4>
				<div formArrayName="userAssignmentResourceList">
					<ppa-loading-container *ppaContext="let resourceList; using: {$implicit: resourceListRequester.response$ | async}"
					                       [loading]="resourceListRequester.loading$ | async">
						<div *ngFor="let rsc of resourceList; index as i" [formGroupName]="i"
						     class="checkbox" [class.pt-1]="!rsc.securityResource.leaf" [class.ml-4]="rsc.securityResource.leaf">
							<!-- Hidden fields -->
							<input type="hidden" [formControlName]="'id'" [value]="rsc.id">
							<input type="hidden" [formControlName]="'resourceId'" [value]="rsc.securityResource.id">
							<input type="hidden" [formControlName]="'resourceParentId'" [value]="rsc.securityResource.parent?.id">
							<input type="hidden" [formControlName]="'resourceLeaf'" [value]="rsc.securityResource.leaf">
							<!-- Visible fields -->
							<label class="custom-control custom-checkbox">
								<input formControlName="accessAllowed" type="checkbox" class="custom-control-input"
								       [attr.title]="adminRoleSelected ? 'Administrators must have access to all Permissions' : ''"
								       (change)="evaluateCheckboxCascade(rsc)"/>
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description" [class.font-weight-normal]="rsc.securityResource.leaf">
									{{rsc.securityResource?.name}}
									<ng-container *ngIf="getSecurityResourceCategories(rsc) as rscCategories">
										<ul class="font-sm mb-0 font-weight-normal font-italic"><li *ngFor="let category of rscCategories">{{category}}</li></ul>
									</ng-container>
								</span>
							</label>
						</div>
					</ppa-loading-container>
				</div>
			</div>
		</div>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" [disabled]="userDetailForm.pristine || !userDetailForm.valid">Save</button>
		<button class="btn btn-secondary" type="button" (click)="cancelAction.emit()">Cancel</button>
	</div>
</form>
