<div class="table-responsive">
	<table class="table table-striped" ppaAutoTooltip>
		<thead>
		<tr>
			<th style="width: 50px;"><span></span></th>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'User', field: 'userFirstLastName'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Email', field: 'emailAddress'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Role', field: 'assignmentRoleId'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Level', field: 'portalEntitySourceSection'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Assignment', field: 'portalEntityName'}"></ng-container>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let userAssignment of valueList">
			<td class="p-0">
				<div class="d-flex pr-2">
					<a class="d-flex-grow mx-2" href="#" (click)="editAction.emit(userAssignment); false">
						<i class="fa fa-lg fa-pencil-square-o text-brown" title="Edit user permissions"></i>
					</a>
					<a class="d-flex-grow mx-2" href="#" (click)="deleteAction.emit(userAssignment); false">
						<i class="fa fa-lg fa-trash text-danger" title="Remove this user assignment"></i>
					</a>
				</div>
			</td>
			<td>{{userAssignment.securityUser!.label}}</td>
			<td>
				<ppa-email-link [mailto]="userAssignment.securityUser!.emailAddress" [text]="userAssignment.securityUser!.emailAddress"></ppa-email-link>
			</td>
			<td>{{userAssignment.assignmentRole!.label}}</td>
			<td>{{userAssignment.portalEntity!.entitySourceSection!.label}}</td>
			<td>{{userAssignment.portalEntity!.label}}</td>
		</tr>
		</tbody>
	</table>
</div>


<ng-template #headerColumn let-label="label" let-field="field">
	<th role="button" (click)="sortAction.emit(field)">
		<span [textContent]="label"></span>
		<i *ngIf="orderBy && orderBy[0].field === field" class="fa ml-1"
		   [class.fa-angle-up]="orderBy[0].direction === 'ASC'"
		   [class.fa-angle-down]="orderBy[0].direction === 'DESC'"></i>
	</th>
</ng-template>
