/* Bootstrap variables */

// Colors
$brand-primary: $ppa-color-link;
$text-muted: #868e96; // Taken from BS4 beta

$border-radius: 0px;
$table-border-color: $ppa-light-gray-3;
$table-bg-accent: $ppa-light-gray-1;
$table-cell-padding: .50rem;

// Type
$font-family-base: $ppa-font-family;
$font-size-base: $ppa-font-size-base;
$font-size-xs: $ppa-font-size-xs;
$font-size-sm: $ppa-font-size-sm;
$font-size-lg: $ppa-font-size-lg;

// Grid
$grid-breakpoints: (
		xs: $media-size-xs,
		sm: $media-size-sm,
		md: $media-size-md,
		lg: $media-size-lg,
		xl: $media-size-xl,
		xxl: $media-size-xxl
) !default;
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px,
		xxl: 1350px
) !default;
$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
		xs: $grid-gutter-width-base,
		sm: $grid-gutter-width-base,
		md: $grid-gutter-width-base,
		lg: $grid-gutter-width-base,
		xl: $grid-gutter-width-base,
		xxl: $grid-gutter-width-base
) !default;
