// Brand colors
$ppa-color-black: #000000;
$ppa-color-white: #ffffff;
$ppa-color-berry: #b50f52;
$ppa-color-cool-gray-2: #d8e0e8;
$ppa-color-cool-gray-5: #a8b3be;
$ppa-color-cool-gray-9: #5c6e76;
$ppa-color-cool-gray-10: #46535b;
$ppa-color-cool-gray-11: #2a323b;
$ppa-color-blue-1: #5cc8d4;
$ppa-color-blue-2: #3997ab;
$ppa-color-blue-3: #236978;
$ppa-color-yellow-1: #fed567;
$ppa-color-yellow-2: #febf34;
$ppa-color-yellow-3: #e48613;
$ppa-color-green-1: #d6dc6c;
$ppa-color-green-2: #b8c228;
$ppa-color-green-3: #859200;
$ppa-color-orange-1: #ee9a3c;
$ppa-color-orange-2: #db5d39;
$ppa-color-orange-3: #c1432b;

// Custom colors
$ppa-light-gray-1: #f9f9f9;
$ppa-light-gray-2: #eff3f4;
$ppa-light-gray-3: #dddddd;
$ppa-mid-gray: #cccccc;
$ppa-warm-gray: #9e9e9e;
$ppa-warm-gray-2: #979797;
$ppa-warm-gray-3: #898989;
$ppa-brown: brown;

// Primary theme colors
$ppa-color-primary-berry: $ppa-color-berry;
$ppa-color-primary-gray: $ppa-color-cool-gray-9;
$ppa-color-body: $ppa-color-black;
$ppa-color-link: $ppa-color-blue-2;
$ppa-color-navigation: $ppa-color-cool-gray-9;
$ppa-color-footer: $ppa-color-cool-gray-9;
$ppa-color-subfooter: $ppa-color-cool-gray-10;

// Other theme colors
$ppa-color-muted: $ppa-light-gray-2;
$ppa-color-plain: $ppa-color-footer;
$ppa-color-caption: $ppa-warm-gray-3;
