@mixin media-query($query) {
	@media #{$query} { @content; }
}

@mixin media-size($size) {
	@include media-query('(min-width: #{$size})') { @content; }
}

@mixin media-type-size($type, $size) {
	@include media-query('#{$type} and (min-width: #{$size})') { @content; }
}
