/* Responsive settings */
$media-size-xs: 0;
$media-size-sm: 576px;
$media-size-md: 768px;
$media-size-lg: 992px;
$media-size-xl: 1200px;
$media-size-xxl: 1400px;
$media-type-screen: 'screen';
$media-type-print: 'print';
