/*
 * Font values
 */
$ppa-font-size: 16px;
$ppa-font-family: aaux-next, sans-serif;

/*
 * Font sizes
 */
$ppa-font-h1: 36px;
$ppa-font-h1-size: 36px;
$ppa-font-h2-size: 26px;
$ppa-font-h3-size: $ppa-font-size;
$ppa-font-h4-size: $ppa-font-size;
$ppa-font-box-type-size: 12px / 20px;
$ppa-font-button-size: 16px;
$ppa-font-navigation-size: 14px;

$ppa-font-size-base: 1rem;
$ppa-font-size-xs: .75rem;
$ppa-font-size-sm: .875rem;
$ppa-font-size-lg: 1.25rem;

$font-sizes: (
		'xs': $ppa-font-size-xs,
		'sm': $ppa-font-size-sm,
		'md': $ppa-font-size-base,
		'lg': $ppa-font-size-lg,
		'xl': $ppa-font-size-lg * 1.25,
);

/*
 * Font styles
 */
%ppa-aaux-next-base {
	font-family: aaux-next, sans-serif;
	font-style: normal;
}

%ppa-aaux-next-light {
	@extend %ppa-aaux-next-base;
	font-weight: 300;
}

%ppa-aaux-next-regular {
	@extend %ppa-aaux-next-base;
	font-weight: 400;
}

%ppa-aaux-next-bold {
	@extend %ppa-aaux-next-base;
	font-weight: 700;
}
