<div class="form-group">
	<label [innerText]="label" [ngStyle]="labelStyle"></label>
	<div class="input-group" [ngbPopover]="popoverTemplate">
		<input class="form-control" placeholder="MM/DD/YYYY" tabindex="0" #inputField
		       #ngbDatepicker="ngbDatepicker" ngbDatepicker [placement]="'bottom-right'"
		       [minDate]="plainDateToNgbDate(minDate)" [maxDate]="plainDateToNgbDate(maxDate)"
		       [ngModel]="dateValueSource | async" (ngModelChange)="onValueChange($event)">
		<button class="input-group-addon" type="button" tabindex="-1" title="Clear value" (click)="clearValue()">
			<i class="fa fa-close"></i>
		</button>
		<button class="input-group-addon" type="button" tabindex="-1" title="Toggle date picker" (click)="ngbDatepicker.toggle()">
			<i class="fa fa-calendar"></i>
		</button>
	</div>
</div>

<!-- Templates -->
<ng-template #popoverTemplate>
	<div [textContent]="error"></div>
</ng-template>
