<div class="form-group">
	<label [innerText]="label" [ngStyle]="labelStyle"></label>

	<ng-container *ngIf="enabled; else disabledComboElement">
		<ng-container *ngIf="valueList && valueList.length > 0; then comboElement else emptyComboElement"></ng-container>
	</ng-container>

	<ng-template #comboElement>
		<select class="form-control" [ngModel]="selectedValue" [ngClass]="ngClass1()" [compareWith]="compareWith" (ngModelChange)="valueChange.emit($event)">
			<!-- The empty element below prevents the browser from rendering the <select> element as if the first option has automatically been selected -->
			<!-- TODO: This workaround adds height to the option list for all versions of IE; should find another workaround for that -->
			<option class="d-none" value="undefined" disabled selected></option>
			<option class="text-gray-dark" *ngFor="let value of valueList; let i = index" [ngValue]="value" [innerText]="getLabel(value)" [title]="getTitle(value)"></option>
		</select>
	</ng-template>

	<ng-template #disabledComboElement>
		<select class="form-control" [disabled]="true">
			<option [ngValue]="null" [innerText]="disabledText"></option>
		</select>
	</ng-template>

	<ng-template #emptyComboElement>
		<select class="form-control" [disabled]="true">
			<option [ngValue]="null" [innerText]="emptyText"></option>
		</select>
	</ng-template>
</div>
