<div class="table-responsive">
	<table class="table table-striped" ppaAutoTooltip>
		<thead>
		<tr>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'User', field: 'userFirstLastName'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Email', field: 'emailAddress'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Role', field: 'assignmentRoleId'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Level', field: 'portalEntitySourceSection'}"></ng-container>
			<ng-container *ngTemplateOutlet="headerColumn; context: {label: 'Assignment', field: 'portalEntityName'}"></ng-container>
		</tr>
		</thead>
		<tbody>
		<ng-container *ppaContext="let portalName; using: {$implicit: (portalNameEl$ | async).value}">
			<tr *ngFor="let userAssignment of valueList">
				<td>{{userAssignment.securityUser!.label}}</td>
				<td>
					<ppa-email-link [mailto]="userAssignment.securityUser!.emailAddress" [target]="{subject: getEmailSubject(portalName)}"
					                [text]="userAssignment.securityUser!.emailAddress"></ppa-email-link>
				</td>
				<td>{{userAssignment.assignmentRole!.label}}</td>
				<td>{{userAssignment.portalEntity!.entitySourceSection!.label}}</td>
				<td>{{userAssignment.portalEntity!.label}}</td>
			</tr>
		</ng-container>
		</tbody>
	</table>
</div>


<ng-template #headerColumn let-label="label" let-field="field">
	<th role="button" (click)="sortAction.emit(field)">
		<span [textContent]="label"></span>
		<i *ngIf="orderBy && orderBy[0].field === field" class="fa ml-1"
		   [class.fa-angle-up]="orderBy[0].direction === 'ASC'"
		   [class.fa-angle-down]="orderBy[0].direction === 'DESC'"></i>
	</th>
</ng-template>

