<div class="notice">
	<div class="container">
		<p [innerHTML]="(footerTextEl$ | async).value"></p>
		<p [innerHTML]="'© ' + currentYear + ' Parametric Portfolio Associates® LLC. All rights reserved. 800 Fifth Avenue, Suite 2800, Seattle, WA 98104.' | ppaTextContent"></p>
	</div>
</div>
